/*! 
 * Jendo UI v1.1.5
 * https://approxys.com/
 * 
 * Copyright Approxys Ltd
 * Released under the MIT License
 *
 * normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 */
html,
optgroup {
    line-height: 1.15
}

html {
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

.jd-navbar .dropdown-menu li,
details,
main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

optgroup {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
hr,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

.jd-navbar ul li a i.menu-up,
.jd-navbar ul li button i.menu-up,
[hidden],
template {
    display: none
}

*,
::after,
::before,
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix::after,
.clearfix::before {
    display: table;
    content: " "
}

.clearfix::after {
    clear: both
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

button,
input,
select,
textarea {
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
    padding: 0
}

.jd-checkbox,
.jd-radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.jd-btn,
.jd-checkbox label,
.jd-radio label {
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.jd-checkbox label,
.jd-radio label {
    min-height: 20px;
    padding-left: 20px
}

.jd-checkbox input[type=checkbox],
.jd-checkbox-inline input[type=checkbox],
.jd-radio input[type=radio],
.jd-radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px
}

.jd-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0 !important
}

.jd-btn.active.focus,
.jd-btn.active:focus,
.jd-btn.focus,
.jd-btn:active.focus,
.jd-btn:active:focus,
.jd-btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.jd-btn.focus,
.jd-btn:focus,
.jd-btn:hover {
    color: #333;
    text-decoration: none
}

.jd-btn.active,
.jd-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.jd-btn.disabled,
.jd-btn[disabled],
fieldset[disabled] .jd-btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.jd-btn.disabled,
fieldset[disabled] a.jd-btn {
    pointer-events: none
}

a.jd-btn {
    text-decoration: none;
    padding: 6px 12px
}

.jd-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.jd-btn-default.focus,
.jd-btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.jd-btn-default.active,
.jd-btn-default:active,
.jd-btn-default:hover,
.open>.jd-dropdown-toggle.jd-btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.jd-btn-default.active.focus,
.jd-btn-default.active:focus,
.jd-btn-default.active:hover,
.jd-btn-default:active.focus,
.jd-btn-default:active:focus,
.jd-btn-default:active:hover,
.open>.jd-dropdown-toggle.jd-btn-default.focus,
.open>.jd-dropdown-toggle.jd-btn-default:focus,
.open>.jd-dropdown-toggle.jd-btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.jd-btn-default.active,
.jd-btn-default:active,
.open>.jd-dropdown-toggle.jd-btn-default {
    background-image: none
}

.jd-btn-default.disabled.focus,
.jd-btn-default.disabled:focus,
.jd-btn-default.disabled:hover,
.jd-btn-default[disabled].focus,
.jd-btn-default[disabled]:focus,
.jd-btn-default[disabled]:hover,
fieldset[disabled] .jd-btn-default.focus,
fieldset[disabled] .jd-btn-default:focus,
fieldset[disabled] .jd-btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.jd-btn-default .badge {
    color: #fff;
    background-color: #333
}

.jd-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.jd-btn-primary.focus,
.jd-btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.jd-btn-primary.active,
.jd-btn-primary:active,
.jd-btn-primary:hover,
.open>.jd-dropdown-toggle.jd-btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.jd-btn-primary.active.focus,
.jd-btn-primary.active:focus,
.jd-btn-primary.active:hover,
.jd-btn-primary:active.focus,
.jd-btn-primary:active:focus,
.jd-btn-primary:active:hover,
.open>.jd-dropdown-toggle.jd-btn-primary.focus,
.open>.jd-dropdown-toggle.jd-btn-primary:focus,
.open>.jd-dropdown-toggle.jd-btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.jd-btn-primary.active,
.jd-btn-primary:active,
.open>.jd-dropdown-toggle.jd-btn-primary {
    background-image: none
}

.jd-btn-primary.disabled.focus,
.jd-btn-primary.disabled:focus,
.jd-btn-primary.disabled:hover,
.jd-btn-primary[disabled].focus,
.jd-btn-primary[disabled]:focus,
.jd-btn-primary[disabled]:hover,
fieldset[disabled] .jd-btn-primary.focus,
fieldset[disabled] .jd-btn-primary:focus,
fieldset[disabled] .jd-btn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.jd-btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.jd-btn-gray {
    color: #fff;
    background-color: #555;
    border-color: #454545
}

.jd-btn-gray.focus,
.jd-btn-gray:focus {
    color: #fff;
    background-color: #454545;
    border-color: #272727
}

.jd-btn-gray.active,
.jd-btn-gray:active,
.jd-btn-gray:hover,
.open>.jd-dropdown-toggle.jd-btn-gray {
    color: #fff;
    background-color: #454545;
    border-color: #272727
}

.jd-btn-gray.active.focus,
.jd-btn-gray.active:focus,
.jd-btn-gray.active:hover,
.jd-btn-gray:active.focus,
.jd-btn-gray:active:focus,
.jd-btn-gray:active:hover,
.open>.jd-dropdown-toggle.jd-btn-gray.focus,
.open>.jd-dropdown-toggle.jd-btn-gray:focus,
.open>.jd-dropdown-toggle.jd-btn-gray:hover {
    color: #fff;
    background-color: #454545;
    border-color: #272727
}

.jd-btn-gray.active,
.jd-btn-gray:active,
.open>.jd-dropdown-toggle.jd-btn-gray {
    background-image: none
}

.jd-btn-gray.disabled.focus,
.jd-btn-gray.disabled:focus,
.jd-btn-gray.disabled:hover,
.jd-btn-gray[disabled].focus,
.jd-btn-gray[disabled]:focus,
.jd-btn-gray[disabled]:hover,
fieldset[disabled] .jd-btn-gray.focus,
fieldset[disabled] .jd-btn-gray:focus,
fieldset[disabled] .jd-btn-gray:hover {
    background-color: #656565;
    border-color: #454545
}

.jd-btn-gray .badge {
    color: #454545;
    background-color: #fff
}

.jd-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.jd-btn-success.focus,
.jd-btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

.jd-btn-success.active,
.jd-btn-success:active,
.jd-btn-success:hover,
.open>.jd-dropdown-toggle.jd-btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.jd-btn-success.active.focus,
.jd-btn-success.active:focus,
.jd-btn-success.active:hover,
.jd-btn-success:active.focus,
.jd-btn-success:active:focus,
.jd-btn-success:active:hover,
.open>.jd-dropdown-toggle.jd-btn-success.focus,
.open>.jd-dropdown-toggle.jd-btn-success:focus,
.open>.jd-dropdown-toggle.jd-btn-success:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}

.jd-btn-success.active,
.jd-btn-success:active,
.open>.jd-dropdown-toggle.jd-btn-success {
    background-image: none
}

.jd-btn-success.disabled.focus,
.jd-btn-success.disabled:focus,
.jd-btn-success.disabled:hover,
.jd-btn-success[disabled].focus,
.jd-btn-success[disabled]:focus,
.jd-btn-success[disabled]:hover,
fieldset[disabled] .jd-btn-success.focus,
fieldset[disabled] .jd-btn-success:focus,
fieldset[disabled] .jd-btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.jd-btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.jd-link {
    color: #0769ad;
    text-decoration: none;
    background-color: transparent
}

.jd-link:hover {
    text-decoration: underline
}

button.jd-btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.jd-input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.jd-input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0
}

.jd-section {
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-left-width: 5px;
    border-radius: 5px
}

.jd-section .jd-header h1,
.jd-section .jd-header h2,
.jd-section .jd-header h3,
.jd-section .jd-header h4,
.jd-section .jd-header h5,
.jd-section .jd-header h6,
.jd-section .jd-header h7 {
    padding: 0;
    margin: 0
}

.jd-section-info {
    border-left-color: #0769ad
}

.jd-navbar {
    width: 100%;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.jd-accordion ul,
.jd-navbar ul {
    width: 100%;
    margin: 0;
    padding: 0
}

.jd-accordion .open>button>.menu-up,
.jd-navbar .open i.menu-up,
.jd-navbar ul li,
.jd-navbar ul li a i.menu-down,
.jd-navbar ul li button i.menu-down {
    display: inline-block
}

.jd-navbar ul li a,
.jd-navbar ul li button {
    padding: 5px 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer
}

.jd-navbar .dropdown-menu {
    display: none;
    position: absolute;
    width: auto;
    padding: 5px 0
}

.jd-navbar .dropdown-menu li a {
    padding: 3px 20px;
    display: inline-block;
    outline: 0;
    width: 100%
}

.jd-accordion .dropdown-menu li,
.jd-accordion .open>.dropdown-menu,
.jd-accordion ul li,
.jd-grid table .jd-grid-menu:hover .jd-grid-mitems,
.jd-navbar .open>.dropdown-menu {
    display: block
}

.jd-accordion .open>button>.menu-down,
.jd-navbar .open i.menu-down {
    display: none
}

.jd-navbar-default {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7
}

.jd-navbar-default ul li a,
.jd-navbar-default ul li button {
    color: #777;
    border: 1px solid #f8f8f8;
    text-decoration: none;
    background-color: transparent;
    outline: 0 !important
}

.jd-accordion-default ul li a:hover,
.jd-accordion-default ul li button:hover,
.jd-navbar-default ul li a:hover,
.jd-navbar-default ul li button:hover {
    background-color: #e8eff7;
    border: 1px solid #a4cef9
}

.jd-accordion-default ul li .menu-down,
.jd-accordion-default ul li .menu-up,
.jd-navbar-default ul li a i,
.jd-navbar-default ul li button i {
    margin-left: 5px
}

.jd-navbar-default .dropdown-menu {
    background-color: #fff;
    border: 1px solid #d2d2d4
}

.jd-accordion-default .dropdown-menu li a .menu-text,
.jd-accordion-default .dropdown-menu li button .menu-text,
.jd-navbar-default .dropdown-menu li a,
.jd-navbar-default .dropdown-menu li button {
    color: #333;
    font-weight: unset
}

.jd-accordion {
    width: 100%;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.jd-accordion ul li a,
.jd-accordion ul li button {
    padding: 5px 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 100%;
    text-align: left
}

.jd-accordion ul li a .menu-up,
.jd-accordion ul li button .menu-up {
    display: none;
    float: right;
    font-weight: 700;
    font-size: 1em
}

.jd-accordion ul li a .menu-down,
.jd-accordion ul li button .menu-down {
    display: inline-block;
    float: right;
    font-weight: 700;
    font-size: 1em
}

.jd-accordion .dropdown-menu {
    display: none;
    width: auto;
    padding: 5px 0;
    position: relative;
    border: 0;
    background-color: unset
}

.jd-accordion .dropdown-menu li a,
.jd-accordion .dropdown-menu li button {
    padding: 5px 10px 5px 20px;
    display: inline-block;
    outline: 0;
    width: 100%
}

.jd-accordion .dropdown-menu .dropdown-menu li a,
.jd-accordion .dropdown-menu .dropdown-menu li button {
    padding: 5px 10px 5px 40px;
    display: inline-block;
    outline: 0;
    width: 100%
}

.jd-accordion-default {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7
}

.jd-accordion-default ul li a,
.jd-accordion-default ul li button {
    color: #777;
    border: 1px solid #f8f8f8;
    text-decoration: none;
    background-color: transparent;
    outline: 0 !important
}

.jd-accordion-default ul .open {
    border-left: 2px solid #a4cef9
}

.jd-accordion-default .open>a,
.jd-accordion-default .open>button {
    background-color: #e7e7e7
}

.jd-accordion-default .open>a>.menu-text,
.jd-accordion-default .open>button>.menu-text {
    color: #333
}

.jd-accordion-default .dropdown-menu .open {
    border-left: unset
}

.jd-dialog {
    display: none
}

.jd-dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    height: 100%;
    z-index: 2000;
    display: none;
    background-color: rgba(80, 80, 80, .6);
    overflow: auto
}

.jd-dialog .jd-dialog-document {
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    outline: 0;
    border-radius: 6px
}

.jd-dialog .jd-dialog-titlebar {
    width: 100%;
    cursor: move;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-bottom: 1px solid #aaa;
    display: table;
    background-color: #f7f7f9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.jd-dialog .jd-dialog-titlebar .jd-dt-title {
    display: table-cell;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: 700
}

.jd-dialog .jd-dialog-titlebar .jd-dt-button {
    display: table-cell;
    font-size: 20px;
    padding: 5px 3px;
    cursor: pointer;
    width: 45px
}

.jd-dialog .jd-dialog-titlebar .jd-dt-button button {
    padding: 0 10px;
    background-color: transparent;
    font-size: 24px;
    color: #337ab7
}

.jd-dialog .jd-dialog-titlebar .jd-dt-button button:hover {
    color: #fff;
    background-color: #d9534f
}

.jd-dialog .jd-dialog-titlebar .jd-dt-button-left {
    text-align: left
}

.jd-dialog .jd-dialog-titlebar .jd-dt-button-right {
    text-align: right
}

.jd-dialog .jd-dialog-content,
.jd-dialog .jd-dialog-footer {
    padding: 15px
}

@media (max-width:312px) {
    .jd-dialog-sm .jd-dialog-document {
        width: 100%
    }
}

@media (min-width:313px) {
    .jd-dialog-sm .jd-dialog-document {
        width: 300px
    }
}

@media (max-width:624px) {
    .jd-dialog-md .jd-dialog-document {
        width: 100%
    }
}

@media (min-width:625px) {
    .jd-dialog-md .jd-dialog-document {
        width: 600px
    }
}

@media (max-width:936px) {
    .jd-dialog-lg .jd-dialog-document {
        width: 100%
    }
}

@media (min-width:937px) {
    .jd-dialog-lg .jd-dialog-document {
        width: 900px
    }
}

.datepicker {
    border: 1px solid gray;
    padding: 2px 2px 5px;
    display: none;
    width: 228px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    z-index: 101
}

.datepicker .dp-head {
    width: 100%;
    display: table;
    padding: 5px 0
}

.datepicker .dp-head .dph-title {
    display: table-cell;
    text-align: center
}

.datepicker .dp-head .dph-title button {
    font-size: 14px;
    font-weight: 700;
    border: 0;
    background-color: transparent;
    cursor: pointer
}

.datepicker .dp-head .dph-title button::-moz-focus-inner,
.datepicker .dp-head .dph-title button:focus {
    outline: 0 !important;
    border: 0
}

.datepicker .dp-head .dph-left {
    display: table-cell;
    text-align: left;
    font-size: 14px;
    font-weight: 700
}

.datepicker .dp-head .dph-right {
    display: table-cell;
    text-align: right
}

.datepicker .dp-head .dph-left button,
.datepicker .dp-head .dph-right button {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer
}

.datepicker .dp-month,
.datepicker .dp-months {
    display: inline-block;
    width: 224px
}

.datepicker .dp-month .dpm-weekdays {
    display: table;
    width: 100%
}

.datepicker .dp-month .dpm-weekdays .dpm-weekday {
    display: table-cell;
    width: 32px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle
}

.datepicker .dp-month .dpm-days {
    width: 100%;
    display: inline-block
}

.datepicker .dp-month .dpm-days .dpm-day,
.datepicker .dp-months .dpm-month {
    border: 0;
    width: 32px;
    height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px
}

.datepicker .dp-month .dpm-days .dpm-day:hover,
.datepicker .dp-months .dpm-month:hover {
    background-color: #eaeaea
}

.datepicker .dp-months {
    border: 0
}

.datepicker .dp-months .dpm-month {
    width: 56px;
    height: 60px
}

.datepicker .dp-months .dpm-outside {
    color: gray
}

.jd-grid {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.jd-grid table {
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0
}

.jd-grid table th,
.jd-grid table tr td {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    font-size: 14px
}

.jd-grid table th {
    background-color: #efeeee;
    padding: 3px 5px;
    outline: 0;
    cursor: pointer
}

.jd-grid table th i {
    display: none;
    padding-left: 3px
}

.jd-grid table th.jd-field-sort {
    color: red
}

.jd-grid table th.jd-field-sort .jd-sort-asc {
    display: inline-block;
    float: right;
    padding-top: 3px
}

.jd-grid table th.jd-field-desort .jd-sort-asc,
.jd-grid table th.jd-field-sort .jd-sort-desc {
    display: none
}

.jd-grid table th.jd-field-desort {
    color: #00f
}

.jd-grid table th.jd-field-desort .jd-sort-desc {
    display: inline-block;
    float: right;
    padding-bottom: 3px
}

.jd-grid table th input {
    width: 100%
}

.jd-grid table tr td {
    background-color: #fff;
    padding: 2px 5px
}

.jd-grid table tr.jd-alt td,
.jd-grid table tr.jd-sum td {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background-color: #f1f1f1
}

.jd-grid table tr.jd-sum td {
    border-top: 1px solid #8f8f9d;
    font-weight: 700
}

.jd-grid table tr.jd-dtl td {
    background-color: #fafafa;
    padding: 10px 15px
}

.jd-grid table .jd-grid-menu {
    position: relative;
    display: inline-block
}

.jd-grid table .jd-grid-menu .jd-grid-mbtn {
    border: 0;
    background-color: transparent;
    color: #1a0dab;
    font-size: 16px;
    font-weight: 700;
    padding: 0 6px;
    margin: 0
}

.jd-grid table .jd-grid-menu .jd-grid-mitems {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    padding: 6px;
    z-index: 1;
    border: 1px solid #f1f1f1;
    border-radius: 4px
}

.jd-grid table .jd-grid-menu .jd-grid-mi-left {
    top: 0;
    left: 0
}

.jd-grid table .jd-grid-menu .jd-grid-mi-right {
    right: 0;
    top: 0
}

.jd-grid table .jd-grid-menu .jd-grid-mitem {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    color: #1a0dab;
    text-align: left;
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: 4px 8px
}

.jd-grid table .jd-grid-menu .jd-grid-mitem:hover {
    background-color: #f1f1f1
}

.jd-grid table .jd-grid-btn-dtl {
    padding-left: 0;
    padding-right: 0;
    width: 16px
}

.jd-grid table .jd-grid-btn-dtl:hover,
.jd-grid table .jd-grid-btn-link:hover {
    font-weight: 700
}

.jd-grid table .jd-grid-btn-dtl,
.jd-grid table .jd-grid-btn-link {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    color: #1a0dab
}

.jd-grid table tr td .jd-grid-text {
    padding: 10px 5px;
    font-size: 18px
}

.jd-grid table tr td .jd-grid-wait {
    padding: 10px 5px;
    text-align: center
}

.jd-grid table tr td .jd-grid-wait span {
    font-size: 18px;
    padding-left: 15px;
    vertical-align: top;
    padding-top: 5px;
    display: inline-block
}

.jd-grid .jd-pager td {
    padding-top: 7px;
    padding-bottom: 5px
}

.jd-grid .jd-pager .jd-pager-btn {
    outline: 0;
    border: 1px solid #d5d5d5;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 0 8px
}

.jd-grid .jd-pager .jd-pager-active {
    font-weight: 700
}

.jd-grid .jd-pager .jd-pager-panel {
    display: inline-block;
    padding: 0 15px
}

.jd-grid .jd-pager .jd-pager-panel span {
    padding: 0 5px
}

.jd-grid .jd-pager .jd-pager-panel input[type=text] {
    padding-top: 0;
    padding-bottom: 0;
    width: 40px
}

.jd-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.jd-row {
    margin-right: -15px;
    margin-left: -15px
}

.jd-form-horizontal .jd-form-group::before,
.jd-row::after,
.jd-row::before {
    display: table;
    content: " "
}

.jd-row::after {
    clear: both
}

.jd-col-xs-1 {
    width: 5%;
    float: left
}

.jd-col-xs-2 {
    width: 10%;
    float: left
}

.jd-col-xs-3 {
    width: 15%;
    float: left
}

.jd-col-xs-4 {
    width: 20%;
    float: left
}

.jd-col-xs-5 {
    width: 25%;
    float: left
}

.jd-col-xs-6 {
    width: 30%;
    float: left
}

.jd-col-xs-7 {
    width: 35%;
    float: left
}

.jd-col-xs-8 {
    width: 40%;
    float: left
}

.jd-col-xs-9 {
    width: 45%;
    float: left
}

.jd-col-xs-10 {
    width: 50%;
    float: left
}

.jd-col-xs-11 {
    width: 55%;
    float: left
}

.jd-col-xs-12 {
    width: 60%;
    float: left
}

.jd-col-xs-13 {
    width: 65%;
    float: left
}

.jd-col-xs-14 {
    width: 70%;
    float: left
}

.jd-col-xs-15 {
    width: 75%;
    float: left
}

.jd-col-xs-16 {
    width: 80%;
    float: left
}

.jd-col-xs-17 {
    width: 85%;
    float: left
}

.jd-col-xs-18 {
    width: 90%;
    float: left
}

.jd-col-xs-19 {
    width: 95%;
    float: left
}

.jd-col-xs-20 {
    width: 100%;
    float: left
}

.jd-col-xs-push-1 {
    left: 5%
}

.jd-col-xs-push-2 {
    left: 10%
}

.jd-col-xs-push-3 {
    left: 15%
}

.jd-col-xs-push-4 {
    left: 20%
}

.jd-col-xs-push-5 {
    left: 25%
}

.jd-col-xs-push-6 {
    left: 30%
}

.jd-col-xs-push-7 {
    left: 35%
}

.jd-col-xs-push-8 {
    left: 40%
}

.jd-col-xs-push-9 {
    left: 45%
}

.jd-col-xs-push-10 {
    left: 50%
}

.jd-col-xs-push-11 {
    left: 55%
}

.jd-col-xs-push-12 {
    left: 60%
}

.jd-col-xs-push-13 {
    left: 65%
}

.jd-col-xs-push-14 {
    left: 70%
}

.jd-col-xs-push-15 {
    left: 75%
}

.jd-col-xs-push-16 {
    left: 80%
}

.jd-col-xs-push-17 {
    left: 85%
}

.jd-col-xs-push-18 {
    left: 90%
}

.jd-col-xs-push-19 {
    left: 95%
}

.jd-col-xs-push-20 {
    left: 100%
}

.jd-col-xs-pull-1 {
    right: 5%
}

.jd-col-xs-pull-2 {
    right: 10%
}

.jd-col-xs-pull-3 {
    right: 15%
}

.jd-col-xs-pull-4 {
    right: 20%
}

.jd-col-xs-pull-5 {
    right: 25%
}

.jd-col-xs-pull-6 {
    right: 30%
}

.jd-col-xs-pull-7 {
    right: 35%
}

.jd-col-xs-pull-8 {
    right: 40%
}

.jd-col-xs-pull-9 {
    right: 45%
}

.jd-col-xs-pull-10 {
    right: 50%
}

.jd-col-xs-pull-11 {
    right: 55%
}

.jd-col-xs-pull-12 {
    right: 60%
}

.jd-col-xs-pull-13 {
    right: 65%
}

.jd-col-xs-pull-14 {
    right: 70%
}

.jd-col-xs-pull-15 {
    right: 75%
}

.jd-col-xs-pull-16 {
    right: 80%
}

.jd-col-xs-pull-17 {
    right: 85%
}

.jd-col-xs-pull-18 {
    right: 90%
}

.jd-col-xs-pull-19 {
    right: 95%
}

.jd-col-xs-pull-20 {
    right: 100%
}

.jd-col-xs-offset-1 {
    margin-left: 5%
}

.jd-col-xs-offset-2 {
    margin-left: 10%
}

.jd-col-xs-offset-3 {
    margin-left: 15%
}

.jd-col-xs-offset-4 {
    margin-left: 20%
}

.jd-col-xs-offset-5 {
    margin-left: 25%
}

.jd-col-xs-offset-6 {
    margin-left: 30%
}

.jd-col-xs-offset-7 {
    margin-left: 35%
}

.jd-col-xs-offset-8 {
    margin-left: 40%
}

.jd-col-xs-offset-9 {
    margin-left: 45%
}

.jd-col-xs-offset-10 {
    margin-left: 50%
}

.jd-col-xs-offset-11 {
    margin-left: 55%
}

.jd-col-xs-offset-12 {
    margin-left: 60%
}

.jd-col-xs-offset-13 {
    margin-left: 65%
}

.jd-col-xs-offset-14 {
    margin-left: 70%
}

.jd-col-xs-offset-15 {
    margin-left: 75%
}

.jd-col-xs-offset-16 {
    margin-left: 80%
}

.jd-col-xs-offset-17 {
    margin-left: 85%
}

.jd-col-xs-offset-18 {
    margin-left: 90%
}

.jd-col-xs-offset-19 {
    margin-left: 95%
}

.jd-col-xs-offset-20 {
    margin-left: 100%
}

.jd-block-xs-visible {
    display: none !important
}

@media (max-width:767px) {
    .jd-block-xs-visible {
        display: block !important
    }
}

@media (min-width:768px) {
    .jd-col-sm-1 {
        width: 5%;
        float: left
    }

    .jd-col-sm-2 {
        width: 10%;
        float: left
    }

    .jd-col-sm-3 {
        width: 15%;
        float: left
    }

    .jd-col-sm-4 {
        width: 20%;
        float: left
    }

    .jd-col-sm-5 {
        width: 25%;
        float: left
    }

    .jd-col-sm-6 {
        width: 30%;
        float: left
    }

    .jd-col-sm-7 {
        width: 35%;
        float: left
    }

    .jd-col-sm-8 {
        width: 40%;
        float: left
    }

    .jd-col-sm-9 {
        width: 45%;
        float: left
    }

    .jd-col-sm-10 {
        width: 50%;
        float: left
    }

    .jd-col-sm-11 {
        width: 55%;
        float: left
    }

    .jd-col-sm-12 {
        width: 60%;
        float: left
    }

    .jd-col-sm-13 {
        width: 65%;
        float: left
    }

    .jd-col-sm-14 {
        width: 70%;
        float: left
    }

    .jd-col-sm-15 {
        width: 75%;
        float: left
    }

    .jd-col-sm-16 {
        width: 80%;
        float: left
    }

    .jd-col-sm-17 {
        width: 85%;
        float: left
    }

    .jd-col-sm-18 {
        width: 90%;
        float: left
    }

    .jd-col-sm-19 {
        width: 95%;
        float: left
    }

    .jd-col-sm-20 {
        width: 100%;
        float: left
    }

    .jd-col-sm-push-1 {
        left: 5%
    }

    .jd-col-sm-push-2 {
        left: 10%
    }

    .jd-col-sm-push-3 {
        left: 15%
    }

    .jd-col-sm-push-4 {
        left: 20%
    }

    .jd-col-sm-push-5 {
        left: 25%
    }

    .jd-col-sm-push-6 {
        left: 30%
    }

    .jd-col-sm-push-7 {
        left: 35%
    }

    .jd-col-sm-push-8 {
        left: 40%
    }

    .jd-col-sm-push-9 {
        left: 45%
    }

    .jd-col-sm-push-10 {
        left: 50%
    }

    .jd-col-sm-push-11 {
        left: 55%
    }

    .jd-col-sm-push-12 {
        left: 60%
    }

    .jd-col-sm-push-13 {
        left: 65%
    }

    .jd-col-sm-push-14 {
        left: 70%
    }

    .jd-col-sm-push-15 {
        left: 75%
    }

    .jd-col-sm-push-16 {
        left: 80%
    }

    .jd-col-sm-push-17 {
        left: 85%
    }

    .jd-col-sm-push-18 {
        left: 90%
    }

    .jd-col-sm-push-19 {
        left: 95%
    }

    .jd-col-sm-push-20 {
        left: 100%
    }

    .jd-col-sm-pull-1 {
        right: 5%
    }

    .jd-col-sm-pull-2 {
        right: 10%
    }

    .jd-col-sm-pull-3 {
        right: 15%
    }

    .jd-col-sm-pull-4 {
        right: 20%
    }

    .jd-col-sm-pull-5 {
        right: 25%
    }

    .jd-col-sm-pull-6 {
        right: 30%
    }

    .jd-col-sm-pull-7 {
        right: 35%
    }

    .jd-col-sm-pull-8 {
        right: 40%
    }

    .jd-col-sm-pull-9 {
        right: 45%
    }

    .jd-col-sm-pull-10 {
        right: 50%
    }

    .jd-col-sm-pull-11 {
        right: 55%
    }

    .jd-col-sm-pull-12 {
        right: 60%
    }

    .jd-col-sm-pull-13 {
        right: 65%
    }

    .jd-col-sm-pull-14 {
        right: 70%
    }

    .jd-col-sm-pull-15 {
        right: 75%
    }

    .jd-col-sm-pull-16 {
        right: 80%
    }

    .jd-col-sm-pull-17 {
        right: 85%
    }

    .jd-col-sm-pull-18 {
        right: 90%
    }

    .jd-col-sm-pull-19 {
        right: 95%
    }

    .jd-col-sm-pull-20 {
        right: 100%
    }

    .jd-col-sm-offset-1 {
        margin-left: 5%
    }

    .jd-col-sm-offset-2 {
        margin-left: 10%
    }

    .jd-col-sm-offset-3 {
        margin-left: 15%
    }

    .jd-col-sm-offset-4 {
        margin-left: 20%
    }

    .jd-col-sm-offset-5 {
        margin-left: 25%
    }

    .jd-col-sm-offset-6 {
        margin-left: 30%
    }

    .jd-col-sm-offset-7 {
        margin-left: 35%
    }

    .jd-col-sm-offset-8 {
        margin-left: 40%
    }

    .jd-col-sm-offset-9 {
        margin-left: 45%
    }

    .jd-col-sm-offset-10 {
        margin-left: 50%
    }

    .jd-col-sm-offset-11 {
        margin-left: 55%
    }

    .jd-col-sm-offset-12 {
        margin-left: 60%
    }

    .jd-col-sm-offset-13 {
        margin-left: 65%
    }

    .jd-col-sm-offset-14 {
        margin-left: 70%
    }

    .jd-col-sm-offset-15 {
        margin-left: 75%
    }

    .jd-col-sm-offset-16 {
        margin-left: 80%
    }

    .jd-col-sm-offset-17 {
        margin-left: 85%
    }

    .jd-col-sm-offset-18 {
        margin-left: 90%
    }

    .jd-col-sm-offset-19 {
        margin-left: 95%
    }

    .jd-col-sm-offset-20 {
        margin-left: 100%
    }
}

.jd-block-sm-visible {
    display: none !important
}

@media (min-width:768px) and (max-width:991px) {
    .jd-block-sm-visible {
        display: block !important
    }
}

@media (min-width:992px) {
    .jd-col-md-1 {
        width: 5%;
        float: left
    }

    .jd-col-md-2 {
        width: 10%;
        float: left
    }

    .jd-col-md-3 {
        width: 15%;
        float: left
    }

    .jd-col-md-4 {
        width: 20%;
        float: left
    }

    .jd-col-md-5 {
        width: 25%;
        float: left
    }

    .jd-col-md-6 {
        width: 30%;
        float: left
    }

    .jd-col-md-7 {
        width: 35%;
        float: left
    }

    .jd-col-md-8 {
        width: 40%;
        float: left
    }

    .jd-col-md-9 {
        width: 45%;
        float: left
    }

    .jd-col-md-10 {
        width: 50%;
        float: left
    }

    .jd-col-md-11 {
        width: 55%;
        float: left
    }

    .jd-col-md-12 {
        width: 60%;
        float: left
    }

    .jd-col-md-13 {
        width: 65%;
        float: left
    }

    .jd-col-md-14 {
        width: 70%;
        float: left
    }

    .jd-col-md-15 {
        width: 75%;
        float: left
    }

    .jd-col-md-16 {
        width: 80%;
        float: left
    }

    .jd-col-md-17 {
        width: 85%;
        float: left
    }

    .jd-col-md-18 {
        width: 90%;
        float: left
    }

    .jd-col-md-19 {
        width: 95%;
        float: left
    }

    .jd-col-md-20 {
        width: 100%;
        float: left
    }

    .jd-col-md-push-1 {
        left: 5%
    }

    .jd-col-md-push-2 {
        left: 10%
    }

    .jd-col-md-push-3 {
        left: 15%
    }

    .jd-col-md-push-4 {
        left: 20%
    }

    .jd-col-md-push-5 {
        left: 25%
    }

    .jd-col-md-push-6 {
        left: 30%
    }

    .jd-col-md-push-7 {
        left: 35%
    }

    .jd-col-md-push-8 {
        left: 40%
    }

    .jd-col-md-push-9 {
        left: 45%
    }

    .jd-col-md-push-10 {
        left: 50%
    }

    .jd-col-md-push-11 {
        left: 55%
    }

    .jd-col-md-push-12 {
        left: 60%
    }

    .jd-col-md-push-13 {
        left: 65%
    }

    .jd-col-md-push-14 {
        left: 70%
    }

    .jd-col-md-push-15 {
        left: 75%
    }

    .jd-col-md-push-16 {
        left: 80%
    }

    .jd-col-md-push-17 {
        left: 85%
    }

    .jd-col-md-push-18 {
        left: 90%
    }

    .jd-col-md-push-19 {
        left: 95%
    }

    .jd-col-md-push-20 {
        left: 100%
    }

    .jd-col-md-pull-1 {
        right: 5%
    }

    .jd-col-md-pull-2 {
        right: 10%
    }

    .jd-col-md-pull-3 {
        right: 15%
    }

    .jd-col-md-pull-4 {
        right: 20%
    }

    .jd-col-md-pull-5 {
        right: 25%
    }

    .jd-col-md-pull-6 {
        right: 30%
    }

    .jd-col-md-pull-7 {
        right: 35%
    }

    .jd-col-md-pull-8 {
        right: 40%
    }

    .jd-col-md-pull-9 {
        right: 45%
    }

    .jd-col-md-pull-10 {
        right: 50%
    }

    .jd-col-md-pull-11 {
        right: 55%
    }

    .jd-col-md-pull-12 {
        right: 60%
    }

    .jd-col-md-pull-13 {
        right: 65%
    }

    .jd-col-md-pull-14 {
        right: 70%
    }

    .jd-col-md-pull-15 {
        right: 75%
    }

    .jd-col-md-pull-16 {
        right: 80%
    }

    .jd-col-md-pull-17 {
        right: 85%
    }

    .jd-col-md-pull-18 {
        right: 90%
    }

    .jd-col-md-pull-19 {
        right: 95%
    }

    .jd-col-md-pull-20 {
        right: 100%
    }

    .jd-col-md-offset-1 {
        margin-left: 5%
    }

    .jd-col-md-offset-2 {
        margin-left: 10%
    }

    .jd-col-md-offset-3 {
        margin-left: 15%
    }

    .jd-col-md-offset-4 {
        margin-left: 20%
    }

    .jd-col-md-offset-5 {
        margin-left: 25%
    }

    .jd-col-md-offset-6 {
        margin-left: 30%
    }

    .jd-col-md-offset-7 {
        margin-left: 35%
    }

    .jd-col-md-offset-8 {
        margin-left: 40%
    }

    .jd-col-md-offset-9 {
        margin-left: 45%
    }

    .jd-col-md-offset-10 {
        margin-left: 50%
    }

    .jd-col-md-offset-11 {
        margin-left: 55%
    }

    .jd-col-md-offset-12 {
        margin-left: 60%
    }

    .jd-col-md-offset-13 {
        margin-left: 65%
    }

    .jd-col-md-offset-14 {
        margin-left: 70%
    }

    .jd-col-md-offset-15 {
        margin-left: 75%
    }

    .jd-col-md-offset-16 {
        margin-left: 80%
    }

    .jd-col-md-offset-17 {
        margin-left: 85%
    }

    .jd-col-md-offset-18 {
        margin-left: 90%
    }

    .jd-col-md-offset-19 {
        margin-left: 95%
    }

    .jd-col-md-offset-20 {
        margin-left: 100%
    }
}

.jd-block-md-visible {
    display: none !important
}

@media (min-width:992px) and (max-width:1199px) {
    .jd-block-md-visible {
        display: block !important
    }
}

@media (min-width:1200px) {
    .jd-col-lg-1 {
        width: 5%;
        float: left
    }

    .jd-col-lg-2 {
        width: 10%;
        float: left
    }

    .jd-col-lg-3 {
        width: 15%;
        float: left
    }

    .jd-col-lg-4 {
        width: 20%;
        float: left
    }

    .jd-col-lg-5 {
        width: 25%;
        float: left
    }

    .jd-col-lg-6 {
        width: 30%;
        float: left
    }

    .jd-col-lg-7 {
        width: 35%;
        float: left
    }

    .jd-col-lg-8 {
        width: 40%;
        float: left
    }

    .jd-col-lg-9 {
        width: 45%;
        float: left
    }

    .jd-col-lg-10 {
        width: 50%;
        float: left
    }

    .jd-col-lg-11 {
        width: 55%;
        float: left
    }

    .jd-col-lg-12 {
        width: 60%;
        float: left
    }

    .jd-col-lg-13 {
        width: 65%;
        float: left
    }

    .jd-col-lg-14 {
        width: 70%;
        float: left
    }

    .jd-col-lg-15 {
        width: 75%;
        float: left
    }

    .jd-col-lg-16 {
        width: 80%;
        float: left
    }

    .jd-col-lg-17 {
        width: 85%;
        float: left
    }

    .jd-col-lg-18 {
        width: 90%;
        float: left
    }

    .jd-col-lg-19 {
        width: 95%;
        float: left
    }

    .jd-col-lg-20 {
        width: 100%;
        float: left
    }

    .jd-col-lg-push-1 {
        left: 5%
    }

    .jd-col-lg-push-2 {
        left: 10%
    }

    .jd-col-lg-push-3 {
        left: 15%
    }

    .jd-col-lg-push-4 {
        left: 20%
    }

    .jd-col-lg-push-5 {
        left: 25%
    }

    .jd-col-lg-push-6 {
        left: 30%
    }

    .jd-col-lg-push-7 {
        left: 35%
    }

    .jd-col-lg-push-8 {
        left: 40%
    }

    .jd-col-lg-push-9 {
        left: 45%
    }

    .jd-col-lg-push-10 {
        left: 50%
    }

    .jd-col-lg-push-11 {
        left: 55%
    }

    .jd-col-lg-push-12 {
        left: 60%
    }

    .jd-col-lg-push-13 {
        left: 65%
    }

    .jd-col-lg-push-14 {
        left: 70%
    }

    .jd-col-lg-push-15 {
        left: 75%
    }

    .jd-col-lg-push-16 {
        left: 80%
    }

    .jd-col-lg-push-17 {
        left: 85%
    }

    .jd-col-lg-push-18 {
        left: 90%
    }

    .jd-col-lg-push-19 {
        left: 95%
    }

    .jd-col-lg-push-20 {
        left: 100%
    }

    .jd-col-lg-pull-1 {
        right: 5%
    }

    .jd-col-lg-pull-2 {
        right: 10%
    }

    .jd-col-lg-pull-3 {
        right: 15%
    }

    .jd-col-lg-pull-4 {
        right: 20%
    }

    .jd-col-lg-pull-5 {
        right: 25%
    }

    .jd-col-lg-pull-6 {
        right: 30%
    }

    .jd-col-lg-pull-7 {
        right: 35%
    }

    .jd-col-lg-pull-8 {
        right: 40%
    }

    .jd-col-lg-pull-9 {
        right: 45%
    }

    .jd-col-lg-pull-10 {
        right: 50%
    }

    .jd-col-lg-pull-11 {
        right: 55%
    }

    .jd-col-lg-pull-12 {
        right: 60%
    }

    .jd-col-lg-pull-13 {
        right: 65%
    }

    .jd-col-lg-pull-14 {
        right: 70%
    }

    .jd-col-lg-pull-15 {
        right: 75%
    }

    .jd-col-lg-pull-16 {
        right: 80%
    }

    .jd-col-lg-pull-17 {
        right: 85%
    }

    .jd-col-lg-pull-18 {
        right: 90%
    }

    .jd-col-lg-pull-19 {
        right: 95%
    }

    .jd-col-lg-pull-20 {
        right: 100%
    }

    .jd-col-lg-offset-1 {
        margin-left: 5%
    }

    .jd-col-lg-offset-2 {
        margin-left: 10%
    }

    .jd-col-lg-offset-3 {
        margin-left: 15%
    }

    .jd-col-lg-offset-4 {
        margin-left: 20%
    }

    .jd-col-lg-offset-5 {
        margin-left: 25%
    }

    .jd-col-lg-offset-6 {
        margin-left: 30%
    }

    .jd-col-lg-offset-7 {
        margin-left: 35%
    }

    .jd-col-lg-offset-8 {
        margin-left: 40%
    }

    .jd-col-lg-offset-9 {
        margin-left: 45%
    }

    .jd-col-lg-offset-10 {
        margin-left: 50%
    }

    .jd-col-lg-offset-11 {
        margin-left: 55%
    }

    .jd-col-lg-offset-12 {
        margin-left: 60%
    }

    .jd-col-lg-offset-13 {
        margin-left: 65%
    }

    .jd-col-lg-offset-14 {
        margin-left: 70%
    }

    .jd-col-lg-offset-15 {
        margin-left: 75%
    }

    .jd-col-lg-offset-16 {
        margin-left: 80%
    }

    .jd-col-lg-offset-17 {
        margin-left: 85%
    }

    .jd-col-lg-offset-18 {
        margin-left: 90%
    }

    .jd-col-lg-offset-19 {
        margin-left: 95%
    }

    .jd-col-lg-offset-20 {
        margin-left: 100%
    }
}

.jd-block-lg-visible {
    display: none !important
}

@media (min-width:1200px) {
    .jd-block-lg-visible {
        display: block !important
    }
}

.jd-col-lg-1,
.jd-col-lg-10,
.jd-col-lg-11,
.jd-col-lg-12,
.jd-col-lg-13,
.jd-col-lg-14,
.jd-col-lg-15,
.jd-col-lg-16,
.jd-col-lg-17,
.jd-col-lg-18,
.jd-col-lg-19,
.jd-col-lg-2,
.jd-col-lg-20,
.jd-col-lg-3,
.jd-col-lg-4,
.jd-col-lg-5,
.jd-col-lg-6,
.jd-col-lg-7,
.jd-col-lg-8,
.jd-col-lg-9,
.jd-col-md-1,
.jd-col-md-10,
.jd-col-md-11,
.jd-col-md-12,
.jd-col-md-13,
.jd-col-md-14,
.jd-col-md-15,
.jd-col-md-16,
.jd-col-md-17,
.jd-col-md-18,
.jd-col-md-19,
.jd-col-md-2,
.jd-col-md-20,
.jd-col-md-3,
.jd-col-md-4,
.jd-col-md-5,
.jd-col-md-6,
.jd-col-md-7,
.jd-col-md-8,
.jd-col-md-9,
.jd-col-sm-1,
.jd-col-sm-10,
.jd-col-sm-11,
.jd-col-sm-12,
.jd-col-sm-13,
.jd-col-sm-14,
.jd-col-sm-15,
.jd-col-sm-16,
.jd-col-sm-17,
.jd-col-sm-18,
.jd-col-sm-19,
.jd-col-sm-2,
.jd-col-sm-20,
.jd-col-sm-3,
.jd-col-sm-4,
.jd-col-sm-5,
.jd-col-sm-6,
.jd-col-sm-7,
.jd-col-sm-8,
.jd-col-sm-9,
.jd-col-xs-1,
.jd-col-xs-10,
.jd-col-xs-11,
.jd-col-xs-12,
.jd-col-xs-13,
.jd-col-xs-14,
.jd-col-xs-15,
.jd-col-xs-16,
.jd-col-xs-17,
.jd-col-xs-18,
.jd-col-xs-19,
.jd-col-xs-2,
.jd-col-xs-20,
.jd-col-xs-3,
.jd-col-xs-4,
.jd-col-xs-5,
.jd-col-xs-6,
.jd-col-xs-7,
.jd-col-xs-8,
.jd-col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.jd-toolbar {
    width: 100%;
    display: inline-block
}

.jd-toolbar .jd-tb-menu,
.jd-toolbar .jd-tb-tabs {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    float: left
}

.jd-toolbar .jd-tb-menu li,
.jd-toolbar .jd-tb-tabs li {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
    float: left
}

.jd-toolbar .jd-tb-menu .jd-tb-button,
.jd-toolbar .jd-tb-tabs .jd-tb-button {
    padding: 5px;
    cursor: pointer;
    margin: 0;
    border: 0;
    text-align: center;
    min-width: 80px;
    outline: 0
}

.jd-toolbar .jd-tb-menu .jd-tb-button {
    padding: 5px 10px
}

.jd-toolbar .jd-tb-menu .jd-tb-button i,
.jd-toolbar .jd-tb-menu .jd-tb-button samp {
    width: 100%;
    display: block
}

.jd-toolbar-default {
    background-color: #f5f6f7;
    border: 1px solid #e7e7e7
}

.jd-toolbar-default .jd-tb-tabs {
    background-color: #e7e7e7
}

.jd-toolbar-default .jd-tb-tabs .jd-tb-button {
    color: #333;
    border: 1px solid #e7e7e7;
    text-decoration: none;
    background-color: transparent;
    outline: 0 !important
}

.jd-toolbar-default .jd-tb-menu .jd-tb-button:hover,
.jd-toolbar-default .jd-tb-tabs .jd-tb-button:hover {
    background-color: #e8eff7;
    border: 1px solid #a4cef9
}

.jd-toolbar-default .jd-tb-tabs .jd-tb-active {
    background-color: #f5f6f7;
    border-bottom: 1px solid #f5f6f7
}

.jd-toolbar-default .jd-tb-menu .jd-tb-button {
    background-color: #f5f6f7;
    border: 1px solid #f5f6f7
}

.jd-form-horizontal .jd-form-group {
    margin-right: -15px;
    margin-left: -15px
}

.jd-form-horizontal .jd-form-group::after {
    clear: both;
    display: table;
    content: " "
}

.jd-form-horizontal .jd-control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right
}

.jd-form-horizontal .jd-checkbox,
.jd-form-horizontal .jd-checkbox-inline,
.jd-form-horizontal .jd-radio,
.jd-form-horizontal .jd-radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.jd-form-horizontal .jd-checkbox,
.jd-form-horizontal .jd-radio {
    min-height: 27px
}

.jd-form-group {
    margin-bottom: 15px
}

.jd-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.jd-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.jd-form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.jd-form-control:-ms-input-placeholder {
    color: #999
}

.jd-form-control::-webkit-input-placeholder {
    color: #999
}

.jd-form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.jd-input-group .jd-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

.jd-input-group .jd-form-control:focus {
    z-index: 3
}

input.jd-form-control::-ms-clear,
input.jd-form-control::-ms-reveal {
    display: none
}

.jd-input-group .jd-form-control,
.jd-input-group-addon,
.jd-input-group-btn {
    display: table-cell
}

.jd-input-group .jd-form-control:not(:first-child):not(:last-child),
.jd-input-group-addon:not(:first-child):not(:last-child),
.jd-input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.jd-input-group-addon {
    white-space: nowrap
}

.jd-input-group-addon,
.jd-input-group-btn {
    width: 1%;
    vertical-align: middle
}

.jd-input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px
}

.jd-input-group-addon input[type=checkbox],
.jd-input-group-addon input[type=radio] {
    margin-top: 0
}

.jd-input-group .jd-form-control:first-child,
.jd-input-group-addon:first-child,
.jd-input-group-btn:first-child>.jd-btn,
.jd-input-group-btn:first-child>.jd-btn-group>.jd-btn,
.jd-input-group-btn:first-child>.jd-dropdown-toggle,
.jd-input-group-btn:last-child>.jd-btn-group:not(:last-child)>.jd-btn,
.jd-input-group-btn:last-child>.jd-btn:not(:last-child):not(.jd-dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.jd-input-group-addon:first-child {
    border-right: 0
}

.jd-input-group .jd-form-control:last-child,
.jd-input-group-addon:last-child,
.jd-input-group-btn:first-child>.jd-btn-group:not(:first-child)>.jd-btn,
.jd-input-group-btn:first-child>.jd-btn:not(:first-child),
.jd-input-group-btn:last-child>.jd-btn,
.jd-input-group-btn:last-child>.jd-btn-group>.jd-btn,
.jd-input-group-btn:last-child>.jd-dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.jd-input-group-addon:last-child {
    border-left: 0
}

.jd-input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.jd-input-group-btn>.jd-btn {
    position: relative
}

.jd-input-group-btn>.jd-btn+.jd-btn {
    margin-left: -1px
}

.jd-input-group-btn>.jd-btn:active,
.jd-input-group-btn>.jd-btn:focus,
.jd-input-group-btn>.jd-btn:hover {
    z-index: 2
}

.jd-input-group-btn:first-child>.jd-btn,
.jd-input-group-btn:first-child>.jd-btn-group {
    margin-right: -1px
}

.jd-input-group-btn:last-child>.jd-btn,
.jd-input-group-btn:last-child>.jd-btn-group {
    z-index: 2;
    margin-left: -1px
}

.jd-autocomplete {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2001;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0
}

.jd-autocomplete .jd-ac-item {
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style: none
}

.jd-autocomplete .jd-ac-item .jd-ac-text {
    width: 100%;
    padding: 2px 10px
}

.jd-autocomplete .jd-ac-item .jd-ac-active {
    background-color: #337ab7;
    color: #fff
}

.jd-tabpage {
    position: relative
}

.jd-tabpage .jd-tabs {
    overflow: hidden;
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    background-color: #efeeee;
    border-top-left-radius: 7px;
    white-space: nowrap;
    margin-right: 47px;
    height: 37px
}

.jd-tabpage .jd-tabs .jd-tab {
    position: relative;
    display: inline-block
}

.jd-tabpage .jd-tabs .jd-tab .jd-tab-btn {
    background-color: inherit;
    border: 1px solid #efeeee;
    outline: 0;
    cursor: pointer;
    padding: 7px 16px;
    transition: .3s
}

.jd-tabpage .jd-tabs .jd-tab:first-child .jd-tab-btn {
    border-top-left-radius: 7px
}

.jd-tabpage .jd-tabs .jd-tab .jd-tab-btn:hover {
    background-color: #e8eff7;
    border: 1px solid #a4cef9
}

.jd-tabpage .jd-tabs .jd-tab .jd-active {
    background-color: #fff;
    border: 1px solid #fff
}

.jd-tabpage .jd-tabs .jd-tab .jd-tab-rpadd {
    padding-right: 30px
}

.jd-tabpage .jd-tabs .jd-tab .jd-tab-close {
    position: absolute;
    right: 0;
    border: 0;
    margin-top: 5px;
    margin-right: 2px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px
}

.jd-tabpage .jd-tab-scroll button:hover,
.jd-tabpage .jd-tabs .jd-tab .jd-tab-close:hover {
    background-color: #d5d5d5
}

.jd-tabpage .jd-tab-scroll {
    position: absolute;
    right: 0;
    z-index: 30;
    top: 0;
    border-right: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    background-color: #efeeee;
    border-top-right-radius: 7px;
    white-space: nowrap;
    height: 37px;
    width: 47px
}

.jd-tabpage .jd-tab-scroll button {
    border: 0;
    padding: 7px;
    cursor: pointer;
    display: none;
    line-height: 22px;
    font-size: 18px
}

.jd-tabpage .jd-tab-scroll button:last-child {
    border-top-right-radius: 7px
}

.jd-tabpage .jd-page {
    display: none;
    padding: 6px 12px;
    border: 1px solid #d5d5d5;
    border-top: none
}

.jd-timepicker-btn {
    margin: 0 0 0-20px;
    border: 0;
    background-color: transparent;
    padding: 0;
    outline: 0;
    cursor: pointer
}

.jd-form-group .jd-timepicker-btn {
    position: absolute;
    text-align: right;
    top: 6px;
    right: 24px
}

.jd-timepicker {
    border: 1px solid gray;
    padding: 2px 2px 5px;
    display: none;
    width: 228px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    z-index: 101
}

.jd-timepicker .jd-tp-content {
    display: table;
    width: 100%
}

.jd-timepicker .jd-tp-content .jd-tp-col {
    display: table-cell;
    vertical-align: top
}

.jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-sep {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 24px
}

.jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-btn {
    border: 0;
    background-color: transparent;
    outline: 0;
    padding: 0;
    width: 30px;
    cursor: pointer;
    font-size: 18px
}

.jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-val {
    width: 32px;
    border: 1px solid #000;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0;
    border-radius: 5px
}

.jd-popup-menu {
    display: none;
    position: absolute;
    z-index: 50
}

.jd-popup-menu-default {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 50;
    min-width: 150px
}

.jd-context-menu-default .jd-menu-items ul,
.jd-popup-menu-default ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.jd-popup-menu-default button {
    background-color: transparent;
    text-align: left;
    border: 0;
    color: #333
}

.jd-context-menu-default .jd-menu-items a:hover,
.jd-context-menu-default .jd-menu-items button:hover,
.jd-popup-menu-default a:hover,
.jd-popup-menu-default button:hover {
    color: #000;
    font-weight: 700
}

.jd-context-menu-default .jd-menu-items a,
.jd-context-menu-default .jd-menu-items button,
.jd-popup-menu-default a,
.jd-popup-menu-default button {
    outline: 0;
    width: 100%;
    padding: 3px 0;
    cursor: pointer;
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis
}

.jd-context-menu-default .jd-menu-items a,
.jd-popup-menu-default a {
    text-decoration: none;
    color: #333;
    display: block
}

.jd-context-menu {
    position: relative;
    display: inline-block
}

.jd-context-menu .jd-menu-btn {
    cursor: pointer;
    outline: 0
}

.jd-context-menu .jd-menu-items {
    display: none;
    position: absolute;
    z-index: 50
}

.jd-context-menu .jd-menu-right {
    right: 0
}

.jd-context-menu-default .jd-menu-items {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 50;
    min-width: 150px
}

.jd-context-menu-default .jd-menu-items button {
    background-color: transparent;
    text-align: left;
    border: 0
}

.jd-keyboard {
    display: none;
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 10px 10px 0 0
}

.jd-keyboard-show {
    display: block
}

.jd-keyboard-upper button {
    text-transform: uppercase
}

.jd-keyboard-chars {
    font-family: sans-serif, Arial;
    padding-top: 5px;
    padding-bottom: 5px
}

.jd-keyboard-chars .jd-keyboard-row {
    align-items: center;
    box-sizing: border-box;
    color: #2f2f2f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    line-height: 18px;
    outline-color: #2f2f2f;
    outline-style: none;
    outline-width: 0;
    position: relative;
    text-align: center
}

.jd-keyboard-chars .jd-keyboard-key {
    cursor: pointer;
    margin: 2px 5px;
    line-height: 32px;
    padding: 2px 12px 7px;
    border-radius: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex: 1 1 100%
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-ch {
    max-width: 6%;
    background: #fafafa;
    font-size: 22px;
    color: #707070
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-fn {
    max-width: 7%;
    background: #7d7d7d;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Arial
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-bs,
.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-knm {
    max-width: 8%;
    background: #7d7d7d;
    font-size: 22px;
    color: #fff;
    font-weight: 700
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-knm {
    font-size: 18px
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-space {
    max-width: 40%;
    background: #fafafa;
    font-size: 22px;
    color: #707070
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-rn {
    max-width: 8%;
    background: #337ab7;
    color: #fff;
    font-size: 32px;
    font-weight: 700
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-ch {
    max-width: 6%;
    background: #fafafa;
    font-size: 22px;
    color: #707070
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-fn {
    max-width: 7%;
    background: #d6d7db;
    font-size: 32px;
    color: #707070;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Arial
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-bs {
    max-width: 8%;
    background: #d6d7db;
    font-size: 22px;
    color: #707070
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-knm {
    max-width: 8%;
    background: #d6d7db;
    font-size: 18px;
    color: #707070
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-space {
    max-width: 40%;
    background: #fafafa;
    font-size: 22px;
    color: #707070
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-rn {
    max-width: 8%;
    background: #5e93bb;
    color: #fff;
    font-size: 32px;
    font-weight: 700
}

.jd-keyboard-chars .jd-keyboard-key:hover {
    -webkit-transform: scaleY(.98) translateY(1px);
    transform: scaleY(.98) translateY(1px)
}

.jd-keyboard-chars .jd-keyboard-key:active {
    -webkit-transform: scaleY(.95) translateY(4px);
    transform: scaleY(.95) translateY(4px)
}

.jd-inlinelist,
.jd-inlinelist ul li {
    border: 1px solid #ccc;
    border-radius: 4px
}

.jd-inlinelist {
    background-color: #fff;
    display: block;
    width: 100%;
    height: 34px;
    overflow-y: auto;
    overflow-x: hidden
}

.jd-inlinelist ul {
    height: 100%;
    list-style-type: none;
    padding: 6px 5px;
    margin: 0
}

.jd-inlinelist ul li {
    display: inline-block;
    margin-right: 5px;
    padding: 0 3px;
    margin-bottom: 4px
}

.jd-inlinelist ul li span {
    vertical-align: top;
    padding-right: 2px;
    font-size: 14px
}

.jd-inlinelist ul li button {
    border: 0;
    background: 0 0;
    cursor: pointer;
    color: #d9534f;
    font-size: 24px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: top
}