@keyframes jd-loader-dualring {
    to {
        transform: rotate(.5turn)
    }
}

@keyframes jd-loader-fourring {
    to {
        transform: rotate(.5turn)
    }
}

@keyframes jd-loader-ring-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50%0, 50%0, 50%0, 50%0, 50%0)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50%0, 100%0, 100%0, 100%0, 100%0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50%0, 100%0, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50%0, 100%0, 100% 100%, 50% 100%, 0 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100%0, 100%0, 100%0, 100% 100%, 50% 100%, 0 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0 100%)
    }

    to {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0 100%)
    }
}

@keyframes jd-loader-ring-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    to {
        transform: scaleY(-1) rotate(-135deg)
    }
}

@keyframes jd-loader-roller {
    to {
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg)
    }

    to {
        transform: translate(-50%, -50%) rotateZ(360deg)
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg)
    }
}

@keyframes spin {

    0%,
    to {
        box-shadow: .2em 0 0 0 currentcolor
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor
    }

    25% {
        box-shadow: 0 .2em 0 0 currentcolor
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor
    }

    75% {
        box-shadow: 0-.2em 0 0 currentcolor
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor
    }
}

.jd-xl1 {
    width: 10pt;
    height: 10pt;
    font-size: 10pt
}

.jd-xl2 {
    width: 20pt;
    height: 20pt;
    font-size: 18pt
}

.jd-xl3 {
    width: 30pt;
    height: 30pt;
    font-size: 24pt
}

.jd-xl4,
.jd-xl5 {
    width: 40pt;
    height: 40pt;
    font-size: 29pt
}

.jd-xl5 {
    width: 50pt;
    height: 50pt
}

.jd-loader-dualring {
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: .3em;
    border-style: solid;
    border-color: #616d8a #0000;
    animation: jd-loader-dualring 1s infinite
}

.jd-loader-fourring {
    --b: 0.2em;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #616d8a;
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg), radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: jd-loader-fourring 1s infinite
}

.jd-loader-ring {
    aspect-ratio: 1;
    border-radius: 50%;
    border: .3em solid #616d8a;
    animation: jd-loader-ring-1 .8s infinite linear alternate, jd-loader-ring-2 1.6s infinite linear
}

.jd-loader-roller,
.jd-loader-roller:after,
.jd-loader-roller:before {
    background: radial-gradient(closest-side at 50% 12.5%, #616d8a 96%, #0000) 50%0/20% 80%repeat-y, radial-gradient(closest-side at 12.5% 50%, #616d8a 96%, #0000)0 50%/80% 20%repeat-x
}

.jd-loader-roller {
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: jd-loader-roller 1s infinite steps(12)
}

.jd-loader-roller:after,
.jd-loader-roller:before {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg)
}

.jd-loader-roller:after {
    transform: rotate(60deg)
}

.jd-loader-orbit {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    color: #616d8a
}

.jd-loader-orbit:after,
.jd-loader-orbit:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite
}

.jd-loader-orbit:after {
    color: #ff3d00;
    transform: rotateY(70deg);
    animation-delay: .4s
}