﻿body {
}

.wui-example-panel
{
    padding: 15px;
}
    .wui-example-panel .wui-example-header
    {
        display: table;
        width: 100%;
    }
        .wui-example-panel .wui-example-header .wui-eh-title
        {
            display: table-cell;
        }
        .wui-example-panel .wui-example-header .wui-eh-tools
        {
            display: table-cell;
            text-align: right;
        }
    .wui-example-panel .wui-example-code
    {
        border: 1px solid #404040;
        height: 200px;
        overflow: scroll;
    }
        .wui-example-panel .wui-example-code xmp
        {
            padding: 0;
            margin: 0;
        }

    .wui-example-panel .wui-example-html
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

.wui-example-content
{
    width: 100%;
    display: table;
}
    .wui-example-content .wui-example-demo
    {
        display: table-cell;
        vertical-align: top;
    }
        .wui-example-content .wui-example-demo .wui-ex-demo-view
        {
            width: 100%;
            display:block;
            padding: 15px;
        }

            .wui-example-content .wui-example-demo .wui-ex-demo-view iframe
            {
                width: 100%;
                height: 400px;
            }

        .wui-example-content .wui-example-demo .wui-ex-demo-code
        {
            width: 100%;
            display:block;
            padding: 15px;
        }
            .wui-example-content .wui-example-demo .wui-ex-demo-code pre
            {
                border:1px solid black;
            }

                .wui-example-content .wui-example-demo .wui-ex-demo-code pre code
                {
                }

    .wui-example-content .wui-example-menu
    {
        display: table-cell;
        vertical-align: top;
    }
        .wui-example-content .wui-example-menu ul
        {
            list-style: none;
            padding: 0;
        }
            .wui-example-content .wui-example-menu ul li
            {
            }
