/* BEGIN: Accordion Menu
*/
.jd-accordion {
    width: 100%;
    padding: 0px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .jd-accordion ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .jd-accordion ul li {
            display: block;
        }

            .jd-accordion ul li a,
            .jd-accordion ul li button {
                padding: 5px 10px;
                display: inline-block;
                outline: none;
                border: none;
                cursor: pointer;
                width: 100%;
                text-align: left;
            }

                .jd-accordion ul li a .menu-up,
                .jd-accordion ul li button .menu-up {
                    display: none;
                    float: right;
                    font-weight: bold;
                    font-size: 1em;
                }

                .jd-accordion ul li a .menu-down,
                .jd-accordion ul li button .menu-down {
                    display: inline-block;
                    float: right;
                    font-weight: bold;
                    font-size: 1em;
                }

    .jd-accordion .dropdown-menu {
        display: none;
        width: auto;
        padding: 5px 0px;
        position: relative;
        border: none;
        background-color: unset;
    }

        .jd-accordion .dropdown-menu li {
            display: block;
        }

            .jd-accordion .dropdown-menu li a,
            .jd-accordion .dropdown-menu li button {
                padding: 5px 10px 5px 20px;
                display: inline-block;
                outline: none;
                width: 100%;
            }

        .jd-accordion .dropdown-menu .dropdown-menu li a,
        .jd-accordion .dropdown-menu .dropdown-menu li button {
            padding: 5px 10px 5px 40px;
            display: inline-block;
            outline: none;
            width: 100%;
        }

    .jd-accordion .open > .dropdown-menu {
        display: block;
    }

    .jd-accordion .open > button > .menu-up {
        display: inline-block;
    }

    .jd-accordion .open > button > .menu-down {
        display: none;
    }
/* END: Accordion Menu
*/
/* BEGIN: Accordion Menu: Default
*/
.jd-accordion-default {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
}

    .jd-accordion-default ul li a,
    .jd-accordion-default ul li button {
        color: #777777;
        border: 1px solid #F8F8F8;
        text-decoration: none;
        background-color: transparent;
        outline: none !important;
    }

        .jd-accordion-default ul li a:hover,
        .jd-accordion-default ul li button:hover {
            background-color: #E8EFF7;
            border: 1px solid #A4CEF9;
        }

    .jd-accordion-default ul li .menu-down,
    .jd-accordion-default ul li .menu-up {
        margin-left: 5px;
    }

    .jd-accordion-default ul .open {
        border-left: 2px solid #A4CEF9;
    }

    .jd-accordion-default .open > a,
    .jd-accordion-default .open > button {
        background-color: #E7E7E7;
    }

        .jd-accordion-default .open > a > .menu-text,
        .jd-accordion-default .open > button > .menu-text {
            color: #333333;
        }

    .jd-accordion-default .dropdown-menu {
    }

        .jd-accordion-default .dropdown-menu .open {
            border-left: unset;
        }

        .jd-accordion-default .dropdown-menu li a .menu-text,
        .jd-accordion-default .dropdown-menu li button .menu-text {
            color: #333333;
            font-weight: unset;
        }
/* END: Accordion Menu: Default
*/
