/* BEGIN: Autocomplete
 */
.jd-autocomplete {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2001;
    background-color: white;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0px;
}

    .jd-autocomplete .jd-ac-item {
        margin: 0;
        padding: 0;
        cursor: pointer;
        list-style: none;
    }

        .jd-autocomplete .jd-ac-item .jd-ac-text {
            width: 100%;
            padding: 2px 10px;
        }

        .jd-autocomplete .jd-ac-item .jd-ac-active {
            background-color: #337ab7;
            color: white;
        }
/* END: Autocomplete
 */
