/* BEGIN: Breadcrumb
*/
.jd-breadcrumb {
    display: inline-block;
    padding: 0px 15px;
    background-color: #F5F5F5;
    width: 100%;
    list-style: none;
    border-radius: 4px;
    margin: 0;
    min-height: 30px;
}

    .jd-breadcrumb li {
        display: inline-block;
        color: #777;
    }

    .jd-breadcrumb > li + li::before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    .jd-breadcrumb li a {
        padding: 5px 5px;
        display: inline-block;
        color: #337ab7;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }

    .jd-breadcrumb li button {
        display: inline-block;
        color: #337ab7;
        padding: 5px 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }

        .jd-breadcrumb li button:focus {
            outline: none;
        }

    .jd-breadcrumb li span {
        display: inline-block;
        padding: 5px 5px;
        outline: none;
    }
/* END: Breadcrumb
*/
