/* BEGIN: JendoUI
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

*::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before, .clearfix::after {
    display: table;
    content: " ";
}

.clearfix::after {
    clear: both;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
}

    input[type="checkbox"],
    input[type="radio"] {
        margin: 4px 0 0;
        margin-left: 0px;
        line-height: normal;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
    }

/* END: JendoUI
*/
/* BEGIN: Component
*/
.jd-checkbox,
.jd-radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .jd-checkbox label,
    .jd-radio label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    .jd-checkbox input[type="checkbox"],
    .jd-checkbox-inline input[type="checkbox"],
    .jd-radio input[type="radio"],
    .jd-radio-inline input[type="radio"] {
        position: absolute;
        margin-left: -20px;
    }

.jd-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none !important;
}

    .jd-btn:focus,
    .jd-btn:active:focus,
    .jd-btn.active:focus,
    .jd-btn.focus,
    .jd-btn:active.focus,
    .jd-btn.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .jd-btn:hover,
    .jd-btn:focus,
    .jd-btn.focus {
        color: #333;
        text-decoration: none;
    }

    .jd-btn:active,
    .jd-btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    .jd-btn.disabled,
    .jd-btn[disabled],
    fieldset[disabled] .jd-btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

a.jd-btn.disabled,
fieldset[disabled] a.jd-btn {
    pointer-events: none;
}

a.jd-btn {
    /*
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    line-height: 1.357;
    text-decoration: none; */
    text-decoration: none;
    padding: 6px 12px;
}

/* BEGIN: btn default
 */
.jd-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .jd-btn-default:focus,
    .jd-btn-default.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .jd-btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .jd-btn-default:active,
    .jd-btn-default.active,
    .open > .jd-dropdown-toggle.jd-btn-default {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

        .jd-btn-default:active:hover,
        .jd-btn-default.active:hover,
        .open > .jd-dropdown-toggle.jd-btn-default:hover,
        .jd-btn-default:active:focus,
        .jd-btn-default.active:focus,
        .open > .jd-dropdown-toggle.jd-btn-default:focus,
        .jd-btn-default:active.focus,
        .jd-btn-default.active.focus,
        .open > .jd-dropdown-toggle.jd-btn-default.focus {
            color: #333;
            background-color: #d4d4d4;
            border-color: #8c8c8c;
        }

    .jd-btn-default:active,
    .jd-btn-default.active,
    .open > .jd-dropdown-toggle.jd-btn-default {
        background-image: none;
    }

    .jd-btn-default.disabled:hover,
    .jd-btn-default[disabled]:hover,
    fieldset[disabled] .jd-btn-default:hover,
    .jd-btn-default.disabled:focus,
    .jd-btn-default[disabled]:focus,
    fieldset[disabled] .jd-btn-default:focus,
    .jd-btn-default.disabled.focus,
    .jd-btn-default[disabled].focus,
    fieldset[disabled] .jd-btn-default.focus {
        background-color: #fff;
        border-color: #ccc;
    }

    .jd-btn-default .badge {
        color: #fff;
        background-color: #333;
    }
/* END: btn default
 */
/* BEGIN: btn primary
 */
.jd-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

    .jd-btn-primary:focus,
    .jd-btn-primary.focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40;
    }

    .jd-btn-primary:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .jd-btn-primary:active,
    .jd-btn-primary.active,
    .open > .jd-dropdown-toggle.jd-btn-primary {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

        .jd-btn-primary:active:hover,
        .jd-btn-primary.active:hover,
        .open > .jd-dropdown-toggle.jd-btn-primary:hover,
        .jd-btn-primary:active:focus,
        .jd-btn-primary.active:focus,
        .open > .jd-dropdown-toggle.jd-btn-primary:focus,
        .jd-btn-primary:active.focus,
        .jd-btn-primary.active.focus,
        .open > .jd-dropdown-toggle.jd-btn-primary.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

    .jd-btn-primary:active,
    .jd-btn-primary.active,
    .open > .jd-dropdown-toggle.jd-btn-primary {
        background-image: none;
    }

    .jd-btn-primary.disabled:hover,
    .jd-btn-primary[disabled]:hover,
    fieldset[disabled] .jd-btn-primary:hover,
    .jd-btn-primary.disabled:focus,
    .jd-btn-primary[disabled]:focus,
    fieldset[disabled] .jd-btn-primary:focus,
    .jd-btn-primary.disabled.focus,
    .jd-btn-primary[disabled].focus,
    fieldset[disabled] .jd-btn-primary.focus {
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .jd-btn-primary .badge {
        color: #337ab7;
        background-color: #fff;
    }
/* END: btn primary
 */
/* BEGIN: btn gray
 */
.jd-btn-gray {
    color: #fff;
    background-color: #555555;
    border-color: #454545;
}

    .jd-btn-gray:focus,
    .jd-btn-gray.focus {
        color: #fff;
        background-color: #454545;
        border-color: #272727;
    }

    .jd-btn-gray:hover {
        color: #fff;
        background-color: #454545;
        border-color: #272727;
    }

    .jd-btn-gray:active,
    .jd-btn-gray.active,
    .open > .jd-dropdown-toggle.jd-btn-gray {
        color: #fff;
        background-color: #454545;
        border-color: #272727;
    }

        .jd-btn-gray:active:hover,
        .jd-btn-gray.active:hover,
        .open > .jd-dropdown-toggle.jd-btn-gray:hover,
        .jd-btn-gray:active:focus,
        .jd-btn-gray.active:focus,
        .open > .jd-dropdown-toggle.jd-btn-gray:focus,
        .jd-btn-gray:active.focus,
        .jd-btn-gray.active.focus,
        .open > .jd-dropdown-toggle.jd-btn-gray.focus {
            color: #fff;
            background-color: #454545;
            border-color: #272727;
        }

    .jd-btn-gray:active,
    .jd-btn-gray.active,
    .open > .jd-dropdown-toggle.jd-btn-gray {
        background-image: none;
    }

    .jd-btn-gray.disabled:hover,
    .jd-btn-gray[disabled]:hover,
    fieldset[disabled] .jd-btn-gray:hover,
    .jd-btn-gray.disabled:focus,
    .jd-btn-gray[disabled]:focus,
    fieldset[disabled] .jd-btn-gray:focus,
    .jd-btn-gray.disabled.focus,
    .jd-btn-gray[disabled].focus,
    fieldset[disabled] .jd-btn-gray.focus {
        background-color: #656565;
        border-color: #454545;
    }

    .jd-btn-gray .badge {
        color: #454545;
        background-color: #fff;
    }
/* END: btn gray
 */
/* BEGIN: btn success
 */
.jd-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

    .jd-btn-success:focus,
    .jd-btn-success.focus {
        color: #fff;
        background-color: #449d44;
        border-color: #255625;
    }

    .jd-btn-success:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }

    .jd-btn-success:active,
    .jd-btn-success.active,
    .open > .jd-dropdown-toggle.jd-btn-success {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }

        .jd-btn-success:active:hover,
        .jd-btn-success.active:hover,
        .open > .jd-dropdown-toggle.jd-btn-success:hover,
        .jd-btn-success:active:focus,
        .jd-btn-success.active:focus,
        .open > .jd-dropdown-toggle.jd-btn-success:focus,
        .jd-btn-success:active.focus,
        .jd-btn-success.active.focus,
        .open > .jd-dropdown-toggle.jd-btn-success.focus {
            color: #fff;
            background-color: #398439;
            border-color: #255625;
        }

    .jd-btn-success:active,
    .jd-btn-success.active,
    .open > .jd-dropdown-toggle.jd-btn-success {
        background-image: none;
    }

    .jd-btn-success.disabled:hover,
    .jd-btn-success[disabled]:hover,
    fieldset[disabled] .jd-btn-success:hover,
    .jd-btn-success.disabled:focus,
    .jd-btn-success[disabled]:focus,
    fieldset[disabled] .jd-btn-success:focus,
    .jd-btn-success.disabled.focus,
    .jd-btn-success[disabled].focus,
    fieldset[disabled] .jd-btn-success.focus {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .jd-btn-success .badge {
        color: #5cb85c;
        background-color: #fff;
    }
/* END: btn success
 */
.jd-link {
    color: #0769ad;
    text-decoration: none;
    background-color: transparent;
}

    .jd-link:hover {
        text-decoration: underline;
    }

button.jd-btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.jd-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

    .jd-input-group[class*="col-"] {
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

/* END: Component
*/
