﻿/* BEGIN: CSS Symbol
*/
.jd-x1 {
    font-size: 1em;
}
.jd-x2 {
    font-size: 2em;
}

.jd-anim-spin {
    animation: spin 4s linear infinite;
    display: inline-block;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.jd-triangle-up-b:after {
    content: '\25b2';
}
.jd-triangle-up-w:after {
    content: '\25b3';
}
.jd-triangle-up-sb:after {
    content: '\25b4';
}
.jd-triangle-up-sw:after {
    content: '\25b5';
}
.jd-triangle-right-b:after {
    content: '\25b6';
}
.jd-triangle-right-w:after {
    content: '\25b7';
}
.jd-triangle-right-sb:after {
    content: '\25b8';
}
.jd-triangle-right-sw:after {
    content: '\25b9';
}
.jd-pointer-right-b:after {
    content: '\25ba';
}
.jd-pointer-right-w:after {
    content: '\25bb';
}
.jd-triangle-down-b:after {
    content: '\25bc';
}
.jd-triangle-down-w:after {
    content: '\25bd';
}
.jd-triangle-down-sb:after {
    content: '\25be';
}
.jd-triangle-down-sw:after {
    content: '\25bf';
}
.jd-triangle-left-b:after {
    content: '\25c0';
}
.jd-triangle-left-w:after {
    content: '\25c1';
}
.jd-triangle-left-sb:after {
    content: '\25c2';
}
.jd-triangle-left-sw:after {
    content: '\25c3';
}
.jd-pointer-left-b:after {
    content: '\25c4';
}
.jd-pointer-left-w:after {
    content: '\25c5';
}

.jd-arrowhead-left-ml:after {
    content: '\02c2';
}
.jd-arrowhead-right-ml:after {
    content: '\02c3';
}
.jd-arrowhead-up-ml:after {
    content: '\02c4';
}
.jd-arrowhead-down-ml:after {
    content: '\02c5';
}
.jd-circumflex-accent:after {
    content: '\02c6';
}
.jd-caron:after {
    content: '\02c7';
}
.jd-angle-ls:after,
.jd-angle-left-single:after {
    content: '\2039';
}
.jd-angle-rs:after,
.jd-angle-right-single:after {
    content: '\203a';
}
.jd-angle-ld:after,
.jd-angle-left-double:after {
    content: '\00ab';
}
.jd-angle-rd:after,
.jd-angle-right-double:after {
    content: '\00bb';
}
.jd-arrowhead-down-low:after {
    content: '\02ef';
}
.jd-arrowhead-up-low:after {
    content: '\02f0';
}
.jd-arrowhead-left-low:after {
    content: '\02f1';
}
.jd-arrowhead-right-low:after {
    content: '\02f2';
}
.jd-logical-and:after {
    content: '\2227';
}
.jd-logical-or:after {
    content: '\2228';
}
.jd-arrowhead-up:after {
    content: '\2303';
}
.jd-arrowhead-down:after {
    content: '\2304';
}
.jd-bracket-left-medium:after {
    content: '\276c';
}
.jd-bracket-right-medium:after {
    content: '\276d';
}
.jd-qmark-left-heavy:after {
    content: '\276e';
}
.jd-qmark-right-heavy:after {
    content: '\276f';
}
.jd-bracket-left-heavy:after {
    content: '\2770';
}
.jd-bracket-right-heavy:after {
    content: '\2771';
}
/* END: CSS Symbol
*/
