/* BEGIN: Datepicker
*/
.datepicker {
    border: 1px solid #808080;
    padding: 2px 2px 5px 2px;
    display: none;
    width: 228px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    z-index: 101;
}

    .datepicker .dp-head {
        width: 100%;
        display: table;
        padding: 5px 0px;
    }

        .datepicker .dp-head .dph-title {
            display: table-cell;
            text-align: center;
        }

            .datepicker .dp-head .dph-title button {
                font-size: 14px;
                font-weight: bold;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

                .datepicker .dp-head .dph-title button:focus,
                .datepicker .dp-head .dph-title button::-moz-focus-inner {
                    outline: none !important;
                    border: 0;
                }

        .datepicker .dp-head .dph-left {
            display: table-cell;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
        }

        .datepicker .dp-head .dph-right {
            display: table-cell;
            text-align: right;
        }

            .datepicker .dp-head .dph-left button,
            .datepicker .dp-head .dph-right button {
                border: none;
                background-color: transparent;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
            }

    .datepicker .dp-month {
        display: inline-block;
        width: 224px;
    }

        .datepicker .dp-month .dpm-weekdays {
            display: table;
            width: 100%;
        }

            .datepicker .dp-month .dpm-weekdays .dpm-weekday {
                display: table-cell;
                width: 32px;
                height: 30px;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                vertical-align: middle;
            }

        .datepicker .dp-month .dpm-days {
            width: 100%;
            display: inline-block;
            /*
                    border-top: 1px solid blue;
                    border-left: 1px solid blue;*/
        }

            .datepicker .dp-month .dpm-days .dpm-day {
                border: none;
                width: 32px;
                height: 25px;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                background-color: white;
                cursor: pointer;
                border-radius: 5px;
            }

                .datepicker .dp-month .dpm-days .dpm-day:hover {
                    background-color: #EAEAEA;
                }

    .datepicker .dp-months {
        display: inline-block;
        width: 224px;
        border: none;
    }

        .datepicker .dp-months .dpm-month {
            border: none;
            width: 56px;
            height: 60px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
        }

            .datepicker .dp-months .dpm-month:hover {
                background-color: #EAEAEA;
            }

        .datepicker .dp-months .dpm-outside {
            color: #808080;
        }
/* END: Datepicker
*/
