﻿<div style="padding:10px;">
    <div role="dialog" tabindex="0" id="dialog_form_div_1">focus div</div>
    <label>item 1</label>
    <div>
        <input type="text" id="dialog_form_input_1" />
    </div>
    <label>item 2</label>
    <div>
        <input type="text" />
    </div>
    <div style="height:300px;"></div>
</div>
<div class="jd-dialog-footer" data-dialog="footer">
    <button id="dialog3_save" type="button">Запис</button>
    <button id="dialog3_close" type="button">Отказ</button>
</div>
<script>
    function DialogFormModel(args) {
        this.jdDialog = args.dialog;
        this.refresh = null;

        var self = this;
        _('#dialog3_save').click(function () {
            self.jdDialog.hide({
                reason: 'save',
                refresh: self.refresh
            });
        });

        _('#dialog3_close').click(function () {
            self.jdDialog.hide({
                reason: 'close'
            });
        });
    }

    DialogFormModel.prototype.onShow = function (e) {
        console.log('dialog3: onShow', e.detail);
        if (!_.isNull(e.detail)) {
            if (!_.isNull(e.detail.refresh)) {
                // dialog3Model.refresh = e.detail.refresh;
            }
        }
    };

    DialogFormModel.prototype.onShown = function (e) {
        console.log('dialog3: onShown', e.detail);
        if (!_.isNull(e.detail)) {
            if (!_.isNull(e.detail.refresh)) {
                // e.detail.model.refresh = e.detail.refresh;
            }
        }
    };

    DialogFormModel.prototype.onHide = function (e) {
        console.log('dialog3: onHide', e.detail);
        if (!_.isNull(e.detail)) {
            if (!_.isNull(e.detail.refresh)) {
                // e.detail.refresh();
            }
        }
    };

    DialogFormModel.prototype.onHidden = function (e) {
        console.log('dialog3: onHidden', e.detail);
        if (!_.isNull(e.detail)) {
            if (!_.isNull(e.detail.refresh)) {
                e.detail.refresh();
            }
        }
    };
</script>