/* BEGIN: Forms
*/
.jd-form-horizontal {
}

    .jd-form-horizontal .jd-form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

        .jd-form-horizontal .jd-form-group::before {
            display: table;
            content: " ";
        }

        .jd-form-horizontal .jd-form-group::after {
            clear: both;
            display: table;
            content: " ";
        }

    .jd-form-horizontal .jd-control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

    .jd-form-horizontal .jd-checkbox,
    .jd-form-horizontal .jd-radio {
        min-height: 27px;
    }

    .jd-form-horizontal .jd-checkbox,
    .jd-form-horizontal .jd-checkbox-inline,
    .jd-form-horizontal .jd-radio,
    .jd-form-horizontal .jd-radio-inline {
        padding-top: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .jd-form-horizontal .jd-radio,
    .jd-form-horizontal .jd-checkbox {
        min-height: 27px;
    }

.jd-form-group {
    margin-bottom: 15px;
}

.jd-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .jd-form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .jd-form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .jd-form-control:-ms-input-placeholder {
        color: #999;
    }

    .jd-form-control::-webkit-input-placeholder {
        color: #999;
    }

    .jd-form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

.jd-input-group .jd-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

    .jd-input-group .jd-form-control:focus {
        z-index: 3;
    }

input.jd-form-control::-ms-clear,
input.jd-form-control::-ms-reveal {
    display: none;
}

.jd-input-group-addon,
.jd-input-group-btn,
.jd-input-group .jd-form-control {
    display: table-cell;
}

    .jd-input-group-addon:not(:first-child):not(:last-child),
    .jd-input-group-btn:not(:first-child):not(:last-child),
    .jd-input-group .jd-form-control:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

.jd-input-group-addon,
.jd-input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.jd-input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    .jd-input-group-addon input[type="radio"],
    .jd-input-group-addon input[type="checkbox"] {
        margin-top: 0;
    }

    .jd-input-group .jd-form-control:first-child,
    .jd-input-group-addon:first-child,
    .jd-input-group-btn:first-child > .jd-btn,
    .jd-input-group-btn:first-child > .jd-btn-group > .jd-btn,
    .jd-input-group-btn:first-child > .jd-dropdown-toggle,
    .jd-input-group-btn:last-child > .jd-btn:not(:last-child):not(.jd-dropdown-toggle),
    .jd-input-group-btn:last-child > .jd-btn-group:not(:last-child) > .jd-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .jd-input-group-addon:first-child {
        border-right: 0;
    }

    .jd-input-group .jd-form-control:last-child,
    .jd-input-group-addon:last-child,
    .jd-input-group-btn:last-child > .jd-btn,
    .jd-input-group-btn:last-child > .jd-btn-group > .jd-btn,
    .jd-input-group-btn:last-child > .jd-dropdown-toggle,
    .jd-input-group-btn:first-child > .jd-btn:not(:first-child),
    .jd-input-group-btn:first-child > .jd-btn-group:not(:first-child) > .jd-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .jd-input-group-addon:last-child {
        border-left: 0;
    }

.jd-input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

    .jd-input-group-btn > .jd-btn {
        position: relative;
    }

        .jd-input-group-btn > .jd-btn + .jd-btn {
            margin-left: -1px;
        }

        .jd-input-group-btn > .jd-btn:hover,
        .jd-input-group-btn > .jd-btn:focus,
        .jd-input-group-btn > .jd-btn:active {
            z-index: 2;
        }

    .jd-input-group-btn:first-child > .jd-btn,
    .jd-input-group-btn:first-child > .jd-btn-group {
        margin-right: -1px;
    }

    .jd-input-group-btn:last-child > .jd-btn,
    .jd-input-group-btn:last-child > .jd-btn-group {
        z-index: 2;
        margin-left: -1px;
    }
/* END: Forms
*/
