/* BEGIN: GridView
*/
.jd-grid {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

    .jd-grid table {
        border-top: 1px solid #D5D5D5;
        border-left: 1px solid #D5D5D5;
        border-collapse: separate;
        border-spacing: 0;
        margin: 0;
    }

        .jd-grid table th {
            border-bottom: 1px solid #D5D5D5;
            border-right: 1px solid #D5D5D5;
            background-color: #EFEEEE;
            padding: 3px 5px;
            outline: none;
            cursor: pointer;
            font-size: 14px;
        }

            .jd-grid table th span {
                display: none;
                padding-left: 3px;
            }

            .jd-grid table th.jd-field-sort {
                color: red;
            }

                .jd-grid table th.jd-field-sort .jd-sort-asc {
                    display: block;
                    float: right;
                    padding-top: 3px;
                }

                .jd-grid table th.jd-field-sort .jd-sort-desc {
                    display: none;
                }

            .jd-grid table th.jd-field-desort {
                color: blue;
            }

                .jd-grid table th.jd-field-desort .jd-sort-asc {
                    display: none;
                }

                .jd-grid table th.jd-field-desort .jd-sort-desc {
                    display: inline-block;
                    float: right;
                    padding-bottom: 3px;
                }

            .jd-grid table th input {
                width: 100%;
            }

        .jd-grid table tr td {
            border-bottom: 1px solid #D5D5D5;
            border-right: 1px solid #D5D5D5;
            background-color: #FFFFFF;
            padding: 2px 5px;
            font-size: 14px;
        }

        .jd-grid table tr.jd-alt td {
            border-bottom: 1px solid #D5D5D5;
            border-right: 1px solid #D5D5D5;
            background-color: #F1F1F1;
        }

        .jd-grid table tr.jd-sum td {
            border-top: 1px solid #8f8f9d;
            border-bottom: 1px solid #D5D5D5;
            border-right: 1px solid #D5D5D5;
            background-color: #F1F1F1;
            font-weight: bold;
        }

        .jd-grid table tr.jd-dtl td {
            background-color: #FAFAFA;
            padding: 10px 15px;
        }

        .jd-grid table .jd-grid-menu {
            position: relative;
            display: inline-block;
        }

            .jd-grid table .jd-grid-menu .jd-grid-mbtn {
                border: none;
                background-color: transparent;
                color: #1A0DAB;
                font-size: 16px;
                font-weight: bold;
                padding: 0px 6px;
                margin: 0;
            }

            .jd-grid table .jd-grid-menu .jd-grid-mitems {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 6px 6px;
                z-index: 1;
                border: 1px solid #f1f1f1;
                border-radius: 4px;
            }

            .jd-grid table .jd-grid-menu .jd-grid-mi-left {
                top: 0;
                left: 0;
            }

            .jd-grid table .jd-grid-menu .jd-grid-mi-right {
                right: 0;
                top: 0;
            }

            .jd-grid table .jd-grid-menu:hover .jd-grid-mitems {
                display: block;
            }

            .jd-grid table .jd-grid-menu .jd-grid-mitem {
                border: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                color: #1A0DAB;
                text-align: left;
                display: block;
                border-radius: 4px;
                width: 100%;
                padding: 4px 8px;
            }

                .jd-grid table .jd-grid-menu .jd-grid-mitem:hover {
                    background-color: #f1f1f1;
                }

        .jd-grid table .jd-grid-btn-dtl {
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            color: #1A0DAB;
            padding-left: 0;
            padding-right: 0;
            width: 16px;
        }

            .jd-grid table .jd-grid-btn-dtl:hover {
                font-weight: bold;
            }

        .jd-grid table .jd-grid-btn-link {
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            color: #1A0DAB;
        }

            .jd-grid table .jd-grid-btn-link:hover {
                font-weight: bold;
            }

        .jd-grid table tr td .jd-grid-text {
            padding: 10px 5px;
            font-size: 18px;
        }

        .jd-grid table tr td .jd-grid-wait {
            padding: 10px 5px;
            text-align: center;
        }

            .jd-grid table tr td .jd-grid-wait div {
                display: inline-block;
            }

            .jd-grid table tr td .jd-grid-wait span {
                font-size: 18px;
                padding-left: 30px;
                vertical-align: top;
                padding-top: 12px;
                display: inline-block;
            }

    .jd-grid .jd-pager {
    }

        .jd-grid .jd-pager td {
            padding-top: 7px;
            padding-bottom: 5px;
        }

        .jd-grid .jd-pager .jd-pager-btn {
            outline: none;
            border: 1px solid #D5D5D5;
            background-color: #F1F1F1;
            cursor: pointer;
            padding: 0px 8px;
        }

            .jd-grid .jd-pager .jd-pager-btn span {
                font-weight: bold;
                font-size: 18px;
                line-height: 16px;
            }

        .jd-grid .jd-pager .jd-pager-active {
            font-weight: bold;
        }

        .jd-grid .jd-pager .jd-pager-panel {
            display: inline-block;
            padding: 0px 15px;
        }

            .jd-grid .jd-pager .jd-pager-panel span {
                padding: 0px 5px;
            }

            .jd-grid .jd-pager .jd-pager-panel input[type=text] {
                padding-top: 0px;
                padding-bottom: 0px;
                width: 40px;
            }
/* END: GridView
*/
