.jd-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jd-row {
    margin-right: -15px;
    margin-left: -15px;
}

    .jd-row::before, .jd-row::after {
        display: table;
        content: " ";
    }

    .jd-row::after {
        clear: both;
    }

/* Extra small devices */
/* jd-col-xs */
.jd-col-xs-1 {
    width: 5%;
    float: left;
}

.jd-col-xs-2 {
    width: 10%;
    float: left;
}

.jd-col-xs-3 {
    width: 15%;
    float: left;
}

.jd-col-xs-4 {
    width: 20%;
    float: left;
}

.jd-col-xs-5 {
    width: 25%;
    float: left;
}

.jd-col-xs-6 {
    width: 30%;
    float: left;
}

.jd-col-xs-7 {
    width: 35%;
    float: left;
}

.jd-col-xs-8 {
    width: 40%;
    float: left;
}

.jd-col-xs-9 {
    width: 45%;
    float: left;
}

.jd-col-xs-10 {
    width: 50%;
    float: left;
}

.jd-col-xs-11 {
    width: 55%;
    float: left;
}

.jd-col-xs-12 {
    width: 60%;
    float: left;
}

.jd-col-xs-13 {
    width: 65%;
    float: left;
}

.jd-col-xs-14 {
    width: 70%;
    float: left;
}

.jd-col-xs-15 {
    width: 75%;
    float: left;
}

.jd-col-xs-16 {
    width: 80%;
    float: left;
}

.jd-col-xs-17 {
    width: 85%;
    float: left;
}

.jd-col-xs-18 {
    width: 90%;
    float: left;
}

.jd-col-xs-19 {
    width: 95%;
    float: left;
}

.jd-col-xs-20 {
    width: 100%;
    float: left;
}

.jd-col-xs-push-1 {
    left: 5%;
}

/* jd-col-xs-push */
.jd-col-xs-push-2 {
    left: 10%;
}

.jd-col-xs-push-3 {
    left: 15%;
}

.jd-col-xs-push-4 {
    left: 20%;
}

.jd-col-xs-push-5 {
    left: 25%;
}

.jd-col-xs-push-6 {
    left: 30%;
}

.jd-col-xs-push-7 {
    left: 35%;
}

.jd-col-xs-push-8 {
    left: 40%;
}

.jd-col-xs-push-9 {
    left: 45%;
}

.jd-col-xs-push-10 {
    left: 50%;
}

.jd-col-xs-push-11 {
    left: 55%;
}

.jd-col-xs-push-12 {
    left: 60%;
}

.jd-col-xs-push-13 {
    left: 65%;
}

.jd-col-xs-push-14 {
    left: 70%;
}

.jd-col-xs-push-15 {
    left: 75%;
}

.jd-col-xs-push-16 {
    left: 80%;
}

.jd-col-xs-push-17 {
    left: 85%;
}

.jd-col-xs-push-18 {
    left: 90%;
}

.jd-col-xs-push-19 {
    left: 95%;
}

.jd-col-xs-push-20 {
    left: 100%;
}

/* jd-col-xs-pull */
.jd-col-xs-pull-1 {
    right: 5%;
}

.jd-col-xs-pull-2 {
    right: 10%;
}

.jd-col-xs-pull-3 {
    right: 15%;
}

.jd-col-xs-pull-4 {
    right: 20%;
}

.jd-col-xs-pull-5 {
    right: 25%;
}

.jd-col-xs-pull-6 {
    right: 30%;
}

.jd-col-xs-pull-7 {
    right: 35%;
}

.jd-col-xs-pull-8 {
    right: 40%;
}

.jd-col-xs-pull-9 {
    right: 45%;
}

.jd-col-xs-pull-10 {
    right: 50%;
}

.jd-col-xs-pull-11 {
    right: 55%;
}

.jd-col-xs-pull-12 {
    right: 60%;
}

.jd-col-xs-pull-13 {
    right: 65%;
}

.jd-col-xs-pull-14 {
    right: 70%;
}

.jd-col-xs-pull-15 {
    right: 75%;
}

.jd-col-xs-pull-16 {
    right: 80%;
}

.jd-col-xs-pull-17 {
    right: 85%;
}

.jd-col-xs-pull-18 {
    right: 90%;
}

.jd-col-xs-pull-19 {
    right: 95%;
}

.jd-col-xs-pull-20 {
    right: 100%;
}

/* jd-col-xs-offset */
.jd-col-xs-offset-1 {
    margin-left: 5%;
}

.jd-col-xs-offset-2 {
    margin-left: 10%;
}

.jd-col-xs-offset-3 {
    margin-left: 15%;
}

.jd-col-xs-offset-4 {
    margin-left: 20%;
}

.jd-col-xs-offset-5 {
    margin-left: 25%;
}

.jd-col-xs-offset-6 {
    margin-left: 30%;
}

.jd-col-xs-offset-7 {
    margin-left: 35%;
}

.jd-col-xs-offset-8 {
    margin-left: 40%;
}

.jd-col-xs-offset-9 {
    margin-left: 45%;
}

.jd-col-xs-offset-10 {
    margin-left: 50%;
}

.jd-col-xs-offset-11 {
    margin-left: 55%;
}

.jd-col-xs-offset-12 {
    margin-left: 60%;
}

.jd-col-xs-offset-13 {
    margin-left: 65%;
}

.jd-col-xs-offset-14 {
    margin-left: 70%;
}

.jd-col-xs-offset-15 {
    margin-left: 75%;
}

.jd-col-xs-offset-16 {
    margin-left: 80%;
}

.jd-col-xs-offset-17 {
    margin-left: 85%;
}

.jd-col-xs-offset-18 {
    margin-left: 90%;
}

.jd-col-xs-offset-19 {
    margin-left: 95%;
}

.jd-col-xs-offset-20 {
    margin-left: 100%;
}

/* jd-block-xs-visible */
.jd-block-xs-visible {
    display: none !important;
}

@media (max-width: 767px) {
    .jd-block-xs-visible {
        display: block !important;
    }
}

/* Small devices */
@media (min-width: 768px) {
    /* jd-col-sm */
    .jd-col-sm-1 {
        width: 5%;
        float: left;
    }

    .jd-col-sm-2 {
        width: 10%;
        float: left;
    }

    .jd-col-sm-3 {
        width: 15%;
        float: left;
    }

    .jd-col-sm-4 {
        width: 20%;
        float: left;
    }

    .jd-col-sm-5 {
        width: 25%;
        float: left;
    }

    .jd-col-sm-6 {
        width: 30%;
        float: left;
    }

    .jd-col-sm-7 {
        width: 35%;
        float: left;
    }

    .jd-col-sm-8 {
        width: 40%;
        float: left;
    }

    .jd-col-sm-9 {
        width: 45%;
        float: left;
    }

    .jd-col-sm-10 {
        width: 50%;
        float: left;
    }

    .jd-col-sm-11 {
        width: 55%;
        float: left;
    }

    .jd-col-sm-12 {
        width: 60%;
        float: left;
    }

    .jd-col-sm-13 {
        width: 65%;
        float: left;
    }

    .jd-col-sm-14 {
        width: 70%;
        float: left;
    }

    .jd-col-sm-15 {
        width: 75%;
        float: left;
    }

    .jd-col-sm-16 {
        width: 80%;
        float: left;
    }

    .jd-col-sm-17 {
        width: 85%;
        float: left;
    }

    .jd-col-sm-18 {
        width: 90%;
        float: left;
    }

    .jd-col-sm-19 {
        width: 95%;
        float: left;
    }

    .jd-col-sm-20 {
        width: 100%;
        float: left;
    }

    /* jd-col-sm-push */
    .jd-col-sm-push-1 {
        left: 5%;
    }

    .jd-col-sm-push-2 {
        left: 10%;
    }

    .jd-col-sm-push-3 {
        left: 15%;
    }

    .jd-col-sm-push-4 {
        left: 20%;
    }

    .jd-col-sm-push-5 {
        left: 25%;
    }

    .jd-col-sm-push-6 {
        left: 30%;
    }

    .jd-col-sm-push-7 {
        left: 35%;
    }

    .jd-col-sm-push-8 {
        left: 40%;
    }

    .jd-col-sm-push-9 {
        left: 45%;
    }

    .jd-col-sm-push-10 {
        left: 50%;
    }

    .jd-col-sm-push-11 {
        left: 55%;
    }

    .jd-col-sm-push-12 {
        left: 60%;
    }

    .jd-col-sm-push-13 {
        left: 65%;
    }

    .jd-col-sm-push-14 {
        left: 70%;
    }

    .jd-col-sm-push-15 {
        left: 75%;
    }

    .jd-col-sm-push-16 {
        left: 80%;
    }

    .jd-col-sm-push-17 {
        left: 85%;
    }

    .jd-col-sm-push-18 {
        left: 90%;
    }

    .jd-col-sm-push-19 {
        left: 95%;
    }

    .jd-col-sm-push-20 {
        left: 100%;
    }

    /* jd-col-sm-pull */
    .jd-col-sm-pull-1 {
        right: 5%;
    }

    .jd-col-sm-pull-2 {
        right: 10%;
    }

    .jd-col-sm-pull-3 {
        right: 15%;
    }

    .jd-col-sm-pull-4 {
        right: 20%;
    }

    .jd-col-sm-pull-5 {
        right: 25%;
    }

    .jd-col-sm-pull-6 {
        right: 30%;
    }

    .jd-col-sm-pull-7 {
        right: 35%;
    }

    .jd-col-sm-pull-8 {
        right: 40%;
    }

    .jd-col-sm-pull-9 {
        right: 45%;
    }

    .jd-col-sm-pull-10 {
        right: 50%;
    }

    .jd-col-sm-pull-11 {
        right: 55%;
    }

    .jd-col-sm-pull-12 {
        right: 60%;
    }

    .jd-col-sm-pull-13 {
        right: 65%;
    }

    .jd-col-sm-pull-14 {
        right: 70%;
    }

    .jd-col-sm-pull-15 {
        right: 75%;
    }

    .jd-col-sm-pull-16 {
        right: 80%;
    }

    .jd-col-sm-pull-17 {
        right: 85%;
    }

    .jd-col-sm-pull-18 {
        right: 90%;
    }

    .jd-col-sm-pull-19 {
        right: 95%;
    }

    .jd-col-sm-pull-20 {
        right: 100%;
    }

    /* jd-col-sm-offset */
    .jd-col-sm-offset-1 {
        margin-left: 5%;
    }

    .jd-col-sm-offset-2 {
        margin-left: 10%;
    }

    .jd-col-sm-offset-3 {
        margin-left: 15%;
    }

    .jd-col-sm-offset-4 {
        margin-left: 20%;
    }

    .jd-col-sm-offset-5 {
        margin-left: 25%;
    }

    .jd-col-sm-offset-6 {
        margin-left: 30%;
    }

    .jd-col-sm-offset-7 {
        margin-left: 35%;
    }

    .jd-col-sm-offset-8 {
        margin-left: 40%;
    }

    .jd-col-sm-offset-9 {
        margin-left: 45%;
    }

    .jd-col-sm-offset-10 {
        margin-left: 50%;
    }

    .jd-col-sm-offset-11 {
        margin-left: 55%;
    }

    .jd-col-sm-offset-12 {
        margin-left: 60%;
    }

    .jd-col-sm-offset-13 {
        margin-left: 65%;
    }

    .jd-col-sm-offset-14 {
        margin-left: 70%;
    }

    .jd-col-sm-offset-15 {
        margin-left: 75%;
    }

    .jd-col-sm-offset-16 {
        margin-left: 80%;
    }

    .jd-col-sm-offset-17 {
        margin-left: 85%;
    }

    .jd-col-sm-offset-18 {
        margin-left: 90%;
    }

    .jd-col-sm-offset-19 {
        margin-left: 95%;
    }

    .jd-col-sm-offset-20 {
        margin-left: 100%;
    }
}

.jd-block-sm-visible {
    display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .jd-block-sm-visible {
        display: block !important;
    }
}

/* Medium devices */
@media (min-width: 992px) {
    /* jd-col-md */
    .jd-col-md-1 {
        width: 5%;
        float: left;
    }

    .jd-col-md-2 {
        width: 10%;
        float: left;
    }

    .jd-col-md-3 {
        width: 15%;
        float: left;
    }

    .jd-col-md-4 {
        width: 20%;
        float: left;
    }

    .jd-col-md-5 {
        width: 25%;
        float: left;
    }

    .jd-col-md-6 {
        width: 30%;
        float: left;
    }

    .jd-col-md-7 {
        width: 35%;
        float: left;
    }

    .jd-col-md-8 {
        width: 40%;
        float: left;
    }

    .jd-col-md-9 {
        width: 45%;
        float: left;
    }

    .jd-col-md-10 {
        width: 50%;
        float: left;
    }

    .jd-col-md-11 {
        width: 55%;
        float: left;
    }

    .jd-col-md-12 {
        width: 60%;
        float: left;
    }

    .jd-col-md-13 {
        width: 65%;
        float: left;
    }

    .jd-col-md-14 {
        width: 70%;
        float: left;
    }

    .jd-col-md-15 {
        width: 75%;
        float: left;
    }

    .jd-col-md-16 {
        width: 80%;
        float: left;
    }

    .jd-col-md-17 {
        width: 85%;
        float: left;
    }

    .jd-col-md-18 {
        width: 90%;
        float: left;
    }

    .jd-col-md-19 {
        width: 95%;
        float: left;
    }

    .jd-col-md-20 {
        width: 100%;
        float: left;
    }

    /* jd-col-md-push */
    .jd-col-md-push-1 {
        left: 5%;
    }

    .jd-col-md-push-2 {
        left: 10%;
    }

    .jd-col-md-push-3 {
        left: 15%;
    }

    .jd-col-md-push-4 {
        left: 20%;
    }

    .jd-col-md-push-5 {
        left: 25%;
    }

    .jd-col-md-push-6 {
        left: 30%;
    }

    .jd-col-md-push-7 {
        left: 35%;
    }

    .jd-col-md-push-8 {
        left: 40%;
    }

    .jd-col-md-push-9 {
        left: 45%;
    }

    .jd-col-md-push-10 {
        left: 50%;
    }

    .jd-col-md-push-11 {
        left: 55%;
    }

    .jd-col-md-push-12 {
        left: 60%;
    }

    .jd-col-md-push-13 {
        left: 65%;
    }

    .jd-col-md-push-14 {
        left: 70%;
    }

    .jd-col-md-push-15 {
        left: 75%;
    }

    .jd-col-md-push-16 {
        left: 80%;
    }

    .jd-col-md-push-17 {
        left: 85%;
    }

    .jd-col-md-push-18 {
        left: 90%;
    }

    .jd-col-md-push-19 {
        left: 95%;
    }

    .jd-col-md-push-20 {
        left: 100%;
    }

    /* jd-col-md-pull */
    .jd-col-md-pull-1 {
        right: 5%;
    }

    .jd-col-md-pull-2 {
        right: 10%;
    }

    .jd-col-md-pull-3 {
        right: 15%;
    }

    .jd-col-md-pull-4 {
        right: 20%;
    }

    .jd-col-md-pull-5 {
        right: 25%;
    }

    .jd-col-md-pull-6 {
        right: 30%;
    }

    .jd-col-md-pull-7 {
        right: 35%;
    }

    .jd-col-md-pull-8 {
        right: 40%;
    }

    .jd-col-md-pull-9 {
        right: 45%;
    }

    .jd-col-md-pull-10 {
        right: 50%;
    }

    .jd-col-md-pull-11 {
        right: 55%;
    }

    .jd-col-md-pull-12 {
        right: 60%;
    }

    .jd-col-md-pull-13 {
        right: 65%;
    }

    .jd-col-md-pull-14 {
        right: 70%;
    }

    .jd-col-md-pull-15 {
        right: 75%;
    }

    .jd-col-md-pull-16 {
        right: 80%;
    }

    .jd-col-md-pull-17 {
        right: 85%;
    }

    .jd-col-md-pull-18 {
        right: 90%;
    }

    .jd-col-md-pull-19 {
        right: 95%;
    }

    .jd-col-md-pull-20 {
        right: 100%;
    }

    /* jd-col-md-offset */
    .jd-col-md-offset-1 {
        margin-left: 5%;
    }

    .jd-col-md-offset-2 {
        margin-left: 10%;
    }

    .jd-col-md-offset-3 {
        margin-left: 15%;
    }

    .jd-col-md-offset-4 {
        margin-left: 20%;
    }

    .jd-col-md-offset-5 {
        margin-left: 25%;
    }

    .jd-col-md-offset-6 {
        margin-left: 30%;
    }

    .jd-col-md-offset-7 {
        margin-left: 35%;
    }

    .jd-col-md-offset-8 {
        margin-left: 40%;
    }

    .jd-col-md-offset-9 {
        margin-left: 45%;
    }

    .jd-col-md-offset-10 {
        margin-left: 50%;
    }

    .jd-col-md-offset-11 {
        margin-left: 55%;
    }

    .jd-col-md-offset-12 {
        margin-left: 60%;
    }

    .jd-col-md-offset-13 {
        margin-left: 65%;
    }

    .jd-col-md-offset-14 {
        margin-left: 70%;
    }

    .jd-col-md-offset-15 {
        margin-left: 75%;
    }

    .jd-col-md-offset-16 {
        margin-left: 80%;
    }

    .jd-col-md-offset-17 {
        margin-left: 85%;
    }

    .jd-col-md-offset-18 {
        margin-left: 90%;
    }

    .jd-col-md-offset-19 {
        margin-left: 95%;
    }

    .jd-col-md-offset-20 {
        margin-left: 100%;
    }
}

.jd-block-md-visible {
    display: none !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jd-block-md-visible {
        display: block !important;
    }
}

/* Large device */
@media (min-width: 1200px) {
    /* jd-col-lg */
    .jd-col-lg-1 {
        width: 5%;
        float: left;
    }

    .jd-col-lg-2 {
        width: 10%;
        float: left;
    }

    .jd-col-lg-3 {
        width: 15%;
        float: left;
    }

    .jd-col-lg-4 {
        width: 20%;
        float: left;
    }

    .jd-col-lg-5 {
        width: 25%;
        float: left;
    }

    .jd-col-lg-6 {
        width: 30%;
        float: left;
    }

    .jd-col-lg-7 {
        width: 35%;
        float: left;
    }

    .jd-col-lg-8 {
        width: 40%;
        float: left;
    }

    .jd-col-lg-9 {
        width: 45%;
        float: left;
    }

    .jd-col-lg-10 {
        width: 50%;
        float: left;
    }

    .jd-col-lg-11 {
        width: 55%;
        float: left;
    }

    .jd-col-lg-12 {
        width: 60%;
        float: left;
    }

    .jd-col-lg-13 {
        width: 65%;
        float: left;
    }

    .jd-col-lg-14 {
        width: 70%;
        float: left;
    }

    .jd-col-lg-15 {
        width: 75%;
        float: left;
    }

    .jd-col-lg-16 {
        width: 80%;
        float: left;
    }

    .jd-col-lg-17 {
        width: 85%;
        float: left;
    }

    .jd-col-lg-18 {
        width: 90%;
        float: left;
    }

    .jd-col-lg-19 {
        width: 95%;
        float: left;
    }

    .jd-col-lg-20 {
        width: 100%;
        float: left;
    }

    /* jd-col-lg-push */
    .jd-col-lg-push-1 {
        left: 5%;
    }

    .jd-col-lg-push-2 {
        left: 10%;
    }

    .jd-col-lg-push-3 {
        left: 15%;
    }

    .jd-col-lg-push-4 {
        left: 20%;
    }

    .jd-col-lg-push-5 {
        left: 25%;
    }

    .jd-col-lg-push-6 {
        left: 30%;
    }

    .jd-col-lg-push-7 {
        left: 35%;
    }

    .jd-col-lg-push-8 {
        left: 40%;
    }

    .jd-col-lg-push-9 {
        left: 45%;
    }

    .jd-col-lg-push-10 {
        left: 50%;
    }

    .jd-col-lg-push-11 {
        left: 55%;
    }

    .jd-col-lg-push-12 {
        left: 60%;
    }

    .jd-col-lg-push-13 {
        left: 65%;
    }

    .jd-col-lg-push-14 {
        left: 70%;
    }

    .jd-col-lg-push-15 {
        left: 75%;
    }

    .jd-col-lg-push-16 {
        left: 80%;
    }

    .jd-col-lg-push-17 {
        left: 85%;
    }

    .jd-col-lg-push-18 {
        left: 90%;
    }

    .jd-col-lg-push-19 {
        left: 95%;
    }

    .jd-col-lg-push-20 {
        left: 100%;
    }

    /* jd-col-lg-pull */
    .jd-col-lg-pull-1 {
        right: 5%;
    }

    .jd-col-lg-pull-2 {
        right: 10%;
    }

    .jd-col-lg-pull-3 {
        right: 15%;
    }

    .jd-col-lg-pull-4 {
        right: 20%;
    }

    .jd-col-lg-pull-5 {
        right: 25%;
    }

    .jd-col-lg-pull-6 {
        right: 30%;
    }

    .jd-col-lg-pull-7 {
        right: 35%;
    }

    .jd-col-lg-pull-8 {
        right: 40%;
    }

    .jd-col-lg-pull-9 {
        right: 45%;
    }

    .jd-col-lg-pull-10 {
        right: 50%;
    }

    .jd-col-lg-pull-11 {
        right: 55%;
    }

    .jd-col-lg-pull-12 {
        right: 60%;
    }

    .jd-col-lg-pull-13 {
        right: 65%;
    }

    .jd-col-lg-pull-14 {
        right: 70%;
    }

    .jd-col-lg-pull-15 {
        right: 75%;
    }

    .jd-col-lg-pull-16 {
        right: 80%;
    }

    .jd-col-lg-pull-17 {
        right: 85%;
    }

    .jd-col-lg-pull-18 {
        right: 90%;
    }

    .jd-col-lg-pull-19 {
        right: 95%;
    }

    .jd-col-lg-pull-20 {
        right: 100%;
    }

    /* jd-col-lg-offset */
    .jd-col-lg-offset-1 {
        margin-left: 5%;
    }

    .jd-col-lg-offset-2 {
        margin-left: 10%;
    }

    .jd-col-lg-offset-3 {
        margin-left: 15%;
    }

    .jd-col-lg-offset-4 {
        margin-left: 20%;
    }

    .jd-col-lg-offset-5 {
        margin-left: 25%;
    }

    .jd-col-lg-offset-6 {
        margin-left: 30%;
    }

    .jd-col-lg-offset-7 {
        margin-left: 35%;
    }

    .jd-col-lg-offset-8 {
        margin-left: 40%;
    }

    .jd-col-lg-offset-9 {
        margin-left: 45%;
    }

    .jd-col-lg-offset-10 {
        margin-left: 50%;
    }

    .jd-col-lg-offset-11 {
        margin-left: 55%;
    }

    .jd-col-lg-offset-12 {
        margin-left: 60%;
    }

    .jd-col-lg-offset-13 {
        margin-left: 65%;
    }

    .jd-col-lg-offset-14 {
        margin-left: 70%;
    }

    .jd-col-lg-offset-15 {
        margin-left: 75%;
    }

    .jd-col-lg-offset-16 {
        margin-left: 80%;
    }

    .jd-col-lg-offset-17 {
        margin-left: 85%;
    }

    .jd-col-lg-offset-18 {
        margin-left: 90%;
    }

    .jd-col-lg-offset-19 {
        margin-left: 95%;
    }

    .jd-col-lg-offset-20 {
        margin-left: 100%;
    }
}

.jd-block-lg-visible {
    display: none !important;
}

@media (min-width: 1200px) {
    .jd-block-lg-visible {
        display: block !important;
    }
}

.jd-col-xs-1, .jd-col-xs-2, .jd-col-xs-3, .jd-col-xs-4, .jd-col-xs-5, .jd-col-xs-6, .jd-col-xs-7, .jd-col-xs-8, .jd-col-xs-9, .jd-col-xs-10, .jd-col-xs-11, .jd-col-xs-12, .jd-col-xs-13, .jd-col-xs-14, .jd-col-xs-15, .jd-col-xs-16, .jd-col-xs-17, .jd-col-xs-18, .jd-col-xs-19, .jd-col-xs-20,
.jd-col-sm-1, .jd-col-sm-2, .jd-col-sm-3, .jd-col-sm-4, .jd-col-sm-5, .jd-col-sm-6, .jd-col-sm-7, .jd-col-sm-8, .jd-col-sm-9, .jd-col-sm-10, .jd-col-sm-11, .jd-col-sm-12, .jd-col-sm-13, .jd-col-sm-14, .jd-col-sm-15, .jd-col-sm-16, .jd-col-sm-17, .jd-col-sm-18, .jd-col-sm-19, .jd-col-sm-20,
.jd-col-md-1, .jd-col-md-2, .jd-col-md-3, .jd-col-md-4, .jd-col-md-5, .jd-col-md-6, .jd-col-md-7, .jd-col-md-8, .jd-col-md-9, .jd-col-md-10, .jd-col-md-11, .jd-col-md-12, .jd-col-md-13, .jd-col-md-14, .jd-col-md-15, .jd-col-md-16, .jd-col-md-17, .jd-col-md-18, .jd-col-md-19, .jd-col-md-20,
.jd-col-lg-1, .jd-col-lg-2, .jd-col-lg-3, .jd-col-lg-4, .jd-col-lg-5, .jd-col-lg-6, .jd-col-lg-7, .jd-col-lg-8, .jd-col-lg-9, .jd-col-lg-10, .jd-col-lg-11, .jd-col-lg-12, .jd-col-lg-13, .jd-col-lg-14, .jd-col-lg-15, .jd-col-lg-16, .jd-col-lg-17, .jd-col-lg-18, .jd-col-lg-19, .jd-col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
