/* BEGIN: Keyboard
*/
.jd-keyboard {
    display: none;
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 10px 10px 0 0;
}

.jd-keyboard-show {
    display: block;
}

.jd-keyboard-upper button {
    text-transform: uppercase;
}

.jd-keyboard-default {
}

.jd-keyboard-light {
}

.jd-keyboard-chars {
    font-family: sans-serif, Arial;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .jd-keyboard-chars .jd-keyboard-row {
        align-items: center;
        box-sizing: border-box;
        color: rgb(47, 47, 47);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 15px;
        font-weight: 400;
        justify-content: center;
        line-height: 18px;
        outline-color: rgb(47, 47, 47);
        outline-style: none;
        outline-width: 0px;
        position: relative;
        text-align: center;
    }

    .jd-keyboard-chars .jd-keyboard-key {
        cursor: pointer;
        margin: 2px 5px 2px;
        line-height: 32px;
        padding: 2px 12px 7px;
        border-radius: 8px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        flex: 1 1 100%;
    }

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-ch {
    max-width: 6%;
    background: #fafafa;
    font-size: 22px;
    color: #707070;
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-fn {
    max-width: 7%;
    background: #7d7d7d;
    font-size: 32px;
    color: white;
    font-weight: bold;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Arial;
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-bs {
    max-width: 8%;
    background: #7d7d7d;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-knm {
    max-width: 8%;
    background: #7d7d7d;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-space {
    max-width: 40%;
    background: #fafafa;
    font-size: 22px;
    color: #707070;
}

.jd-keyboard-default .jd-keyboard-chars .jd-keyboard-rn {
    max-width: 8%;
    background: #337ab7;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-ch {
    max-width: 6%;
    background: #fafafa;
    font-size: 22px;
    color: #707070;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-fn {
    max-width: 7%;
    background: #d6d7db;
    font-size: 32px;
    color: #707070;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Arial;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-bs {
    max-width: 8%;
    background: #d6d7db;
    font-size: 22px;
    color: #707070;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-knm {
    max-width: 8%;
    background: #d6d7db;
    font-size: 18px;
    color: #707070;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-space {
    max-width: 40%;
    background: #fafafa;
    font-size: 22px;
    color: #707070;
}

.jd-keyboard-light .jd-keyboard-chars .jd-keyboard-rn {
    max-width: 8%;
    background: #5e93bb;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.jd-keyboard-chars .jd-keyboard-key:hover {
    -webkit-transform: scaleY(0.98) translateY(1px);
    transform: scaleY(0.98) translateY(1px);
}

.jd-keyboard-chars .jd-keyboard-key:active {
    -webkit-transform: scaleY(0.95) translateY(4px);
    transform: scaleY(0.95) translateY(4px);
}
/* END: Keyboard
*/
