/*#region Inline List
*/
.jd-inlinelist {
    border: 1px solid #ccc;
    background-color: white;
    display: block;
    width: 100%;
    height: 34px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .jd-inlinelist ul {
        height: 100%;
        list-style-type: none;
        padding: 6px 5px;
        margin: 0;
    }

        .jd-inlinelist ul li {
            display: inline-block;
            border: 1px solid #ccc;
            margin-right: 5px;
            border-radius: 4px;
            padding: 0px 3px;
            margin-bottom: 4px;
        }

            .jd-inlinelist ul li span {
                vertical-align: top;
                padding-right: 2px;
                font-size: 14px;
            }

            .jd-inlinelist ul li button {
                border: none;
                background: none;
                cursor: pointer;
                color: #D9534F;
                font-size: 24px;
                line-height: 20px;
                padding: 0;
                margin: 0;
                vertical-align: top;
            }
/*#endregion Inline List
*/
