/* BEGIN: Popup Menu
*/
.jd-popup-menu {
    display: none;
    position: absolute;
    z-index: 50;
}

.jd-popup-menu-default {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    position: absolute;
    background-color: white;
    padding: 10px 10px;
    z-index: 50;
    min-width: 150px;
}

    .jd-popup-menu-default ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jd-popup-menu-default button {
        background-color: transparent;
        text-align: left;
        border: none;
        outline: none;
        width: 100%;
        padding: 3px 0px;
        cursor: pointer;
        color: #333333;
        white-space: nowrap;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .jd-popup-menu-default button:hover {
            color: black;
            font-weight: bold;
        }

    .jd-popup-menu-default a {
        outline: none;
        width: 100%;
        padding: 3px 0px;
        cursor: pointer;
        text-decoration: none;
        color: #333333;
        display: block;
        white-space: nowrap;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .jd-popup-menu-default a:hover {
            color: black;
            font-weight: bold;
        }
/* END: Popup Menu
*/
