/* BEGIN: Context Menu
*/
.jd-context-menu {
    position: relative;
    display: inline-block;
}

    .jd-context-menu .jd-menu-btn {
        cursor: pointer;
        outline: none;
    }

    .jd-context-menu .jd-menu-items {
        display: none;
        position: absolute;
        z-index: 50;
    }

    .jd-context-menu .jd-menu-right {
        right: 0;
    }

.jd-context-menu-default .jd-menu-items {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    position: absolute;
    background-color: white;
    padding: 10px 10px;
    z-index: 50;
    min-width: 150px;
}

    .jd-context-menu-default .jd-menu-items ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jd-context-menu-default .jd-menu-items button {
        background-color: transparent;
        text-align: left;
        border: none;
        outline: none;
        width: 100%;
        padding: 3px 0px;
        cursor: pointer;
        white-space: nowrap;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .jd-context-menu-default .jd-menu-items button:hover {
            color: black;
            font-weight:bold;
        }

    .jd-context-menu-default .jd-menu-items a {
        outline: none;
        width: 100%;
        padding: 3px 0px;
        cursor: pointer;
        text-decoration: none;
        color: #333333;
        display: block;
        white-space: nowrap;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .jd-context-menu-default .jd-menu-items a:hover {
            color: black;
            font-weight: bold;
        }
/* END: Popup Menu
*/
