/* BEGIN: Navigation Bar 
*/
.jd-navbar {
    width: 100%;
    padding: 0px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .jd-navbar ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .jd-navbar ul li {
            display: inline-block;
        }

            .jd-navbar ul li a,
            .jd-navbar ul li button {
                padding: 5px 10px;
                display: inline-block;
                outline: none;
                border: none;
                cursor: pointer;
            }

                .jd-navbar ul li a i.menu-up,
                .jd-navbar ul li button i.menu-up {
                    display: none;
                }

                .jd-navbar ul li a i.menu-down,
                .jd-navbar ul li button i.menu-down {
                    display: inline-block;
                }

    .jd-navbar .dropdown-menu {
        display: none;
        position: absolute;
        width: auto;
        padding: 5px 0px;
    }

        .jd-navbar .dropdown-menu li {
            display: block;
        }

            .jd-navbar .dropdown-menu li a {
                padding: 3px 20px;
                display: inline-block;
                outline: none;
                width: 100%;
            }

    .jd-navbar .open > .dropdown-menu {
        display: block;
    }

    .jd-navbar .open i.menu-up {
        display: inline-block;
    }

    .jd-navbar .open i.menu-down {
        display: none;
    }
/* END: Navigation Bar 
*/
/* BEGIN: Navigation Bar: Default
*/
.jd-navbar-default {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
}

    .jd-navbar-default ul li a,
    .jd-navbar-default ul li button {
        color: #777777;
        border: 1px solid #F8F8F8;
        text-decoration: none;
        background-color: transparent;
        outline: none !important;
    }

        .jd-navbar-default ul li a:hover,
        .jd-navbar-default ul li button:hover {
            background-color: #E8EFF7;
            border: 1px solid #A4CEF9;
        }

        .jd-navbar-default ul li a i,
        .jd-navbar-default ul li button i {
            margin-left: 5px;
        }

    .jd-navbar-default .dropdown-menu {
        background-color: white;
        border: 1px solid #D2D2D4;
    }

        .jd-navbar-default .dropdown-menu li a,
        .jd-navbar-default .dropdown-menu li button {
            color: #333333;
            font-weight: unset;
        }
/* END: Navigation Bar: Default
*/
