/* BEGIN: Section
*/
.jd-section {
    padding: 10px 15px;
    margin: 20px 0px;
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    border-left-width: 5px;
    border-radius: 5px;
}

    .jd-section .jd-header {
    }

        .jd-section .jd-header h1,
        .jd-section .jd-header h2,
        .jd-section .jd-header h3,
        .jd-section .jd-header h4,
        .jd-section .jd-header h5,
        .jd-section .jd-header h6,
        .jd-section .jd-header h7 {
            padding: 0;
            margin: 0;
        }

    .jd-section .jd-summary {
    }

.jd-section-info {
    border-left-color: #0769ad;
}
/* END: Section
*/
