/* BEGIN: TabPage
*/
.jd-tabpage {
    position: relative;
}

    .jd-tabpage .jd-tabs {
        overflow: hidden;
        border-left: 1px solid #d5d5d5;
        border-top: 1px solid #d5d5d5;
        background-color: #efeeee;
        border-top-left-radius: 7px;
        white-space: nowrap;
        margin-right: 47px;
        height: 37px;
    }

        .jd-tabpage .jd-tabs .jd-tab {
            position: relative;
            display: inline-block;
        }

            .jd-tabpage .jd-tabs .jd-tab .jd-tab-btn {
                background-color: inherit;
                border: 1px solid #efeeee;
                outline: none;
                cursor: pointer;
                padding: 7px 16px;
                transition: 0.3s;
            }

            .jd-tabpage .jd-tabs .jd-tab:first-child .jd-tab-btn {
                border-top-left-radius: 7px;
            }

            .jd-tabpage .jd-tabs .jd-tab .jd-tab-btn:hover {
                background-color: #E8EFF7;
                border: 1px solid #A4CEF9;
            }

            .jd-tabpage .jd-tabs .jd-tab .jd-active {
                background-color: white;
                border: 1px solid white;
            }

            .jd-tabpage .jd-tabs .jd-tab .jd-tab-rpadd {
                padding-right: 30px;
            }

            .jd-tabpage .jd-tabs .jd-tab .jd-tab-close {
                position: absolute;
                right: 0;
                border: none;
                margin-top: 5px;
                margin-right: 2px;
                padding: 0px 5px;
                border-radius: 5px;
                cursor: pointer;
                background-color: transparent;
                font-weight: bold;
                font-size: 25px;
                line-height: 25px;
            }

                .jd-tabpage .jd-tabs .jd-tab .jd-tab-close:hover {
                    background-color: #d5d5d5;
                }

    .jd-tabpage .jd-tab-scroll {
        position: absolute;
        right: 0px;
        z-index: 30;
        top: 0px;
        border-right: 1px solid #d5d5d5;
        border-top: 1px solid #d5d5d5;
        background-color: #efeeee;
        border-top-right-radius: 7px;
        white-space: nowrap;
        height: 37px;
        width: 47px;
    }

        .jd-tabpage .jd-tab-scroll button {
            border: none;
            padding: 7px;
            cursor: pointer;
            display: none;
            line-height: 22px;
            font-size: 18px;
        }

            .jd-tabpage .jd-tab-scroll button:hover {
                background-color: #d5d5d5;
            }

            .jd-tabpage .jd-tab-scroll button:last-child {
                border-top-right-radius: 7px;
            }

    .jd-tabpage .jd-page {
        display: none;
        padding: 6px 12px;
        border: 1px solid #d5d5d5;
        border-top: none;
    }
/* END: TabPage
*/
