/* BEGIN: Timepicker
*/
.jd-timepicker-btn {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: -20px;
    border: none;
    background-color:transparent;
    padding: 0;
    outline:none;
    cursor: pointer;
}
.jd-form-group .jd-timepicker-btn {
	position: absolute;
    text-align: right;
    top: 6px;
    right: 24px;
}
.jd-timepicker {
    border: 1px solid #808080;
    padding: 2px 2px 5px 2px;
    display: none;
    width: 228px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    z-index: 101;
}
    .jd-timepicker .jd-tp-content {
        display:table;
        width:100%;
    }
        .jd-timepicker .jd-tp-content .jd-tp-col {
            display: table-cell;
            vertical-align: top;
        }
            .jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-sep {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                padding-top: 24px;
            }
            .jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-btn {
                border: none;
                background-color: transparent;
                outline: none;
                padding: 0;
                width: 30px;
                cursor: pointer;
                font-size:18px;
            }
            .jd-timepicker .jd-tp-content .jd-tp-col .jd-tp-val {
                width: 32px;
                border: 1px solid black;
                margin: 0px 10px;
                font-size: 16px;
                font-weight: bold;
                padding: 3px 0px;
                border-radius:5px;
            }
/* END: Timepicker
*/
