/* BEGIN: Toolbar
*/
.jd-toolbar {
    width: 100%;
    display: inline-block;
    /* padding: 2px 5px; */
}

    .jd-toolbar .jd-tb-tabs {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        display: inline-block;
        width: 100%;
        float: left;
    }

        .jd-toolbar .jd-tb-tabs li {
            margin: 0;
            padding: 0;
            border: 0;
            display: inline;
            float: left;
        }

        .jd-toolbar .jd-tb-tabs .jd-tb-button {
            padding: 5px;
            cursor: pointer;
            margin: 0;
            border: 0;
            text-align: center;
            min-width: 80px;
            outline: none;
        }

    .jd-toolbar .jd-tb-menu {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        display: inline-block;
        width: 100%;
        float: left;
    }

        .jd-toolbar .jd-tb-menu li {
            margin: 0;
            padding: 0;
            border: 0;
            display: inline;
            float: left;
        }

        .jd-toolbar .jd-tb-menu .jd-tb-button {
            padding: 5px 10px;
            cursor: pointer;
            margin: 0;
            border: 0;
            text-align: center;
            min-width: 80px;
            outline: none;
        }

            .jd-toolbar .jd-tb-menu .jd-tb-button i {
                width: 100%;
                display: block;
            }

            .jd-toolbar .jd-tb-menu .jd-tb-button samp {
                width: 100%;
                display: block;
            }
/* END: Toolbar
*/
/* BEGIN: Toolbar: Default
*/
.jd-toolbar-default {
    background-color: #F5F6F7;
    border: 1px solid #E7E7E7;
}

    .jd-toolbar-default .jd-tb-tabs {
        background-color: #E7E7E7;
    }

        .jd-toolbar-default .jd-tb-tabs .jd-tb-button {
            color: #333333;
            border: 1px solid #E7E7E7;
            text-decoration: none;
            background-color: transparent;
            outline: none !important;
        }

            .jd-toolbar-default .jd-tb-tabs .jd-tb-button:hover {
                background-color: #E8EFF7;
                border: 1px solid #A4CEF9;
            }

        .jd-toolbar-default .jd-tb-tabs .jd-tb-active {
            background-color: #F5F6F7;
            border-bottom: 1px solid #F5F6F7;
        }

    .jd-toolbar-default .jd-tb-menu .jd-tb-button {
        background-color: #F5F6F7;
        border: 1px solid #F5F6F7;
    }

        .jd-toolbar-default .jd-tb-menu .jd-tb-button:hover {
            background-color: #E8EFF7;
            border: 1px solid #A4CEF9;
        }
/* END: Toolbar: Default
*/
